<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Longbourn Dashboard</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-envelope fa-fw"></i> <%=unseen_notifications(session[:user_id]).html_safe%> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                <%get_notifications(session[:user_id]).each do |notification|%>
                    <li>
                        <%=link_to :controller => "notifications", :action =>"index", :params => {:id => notification.id} do%>
                            <div>
                                <%=seen_notification(notification.seen).html_safe%>
                                <strong><%=notification.subject%></strong>
                                <span class="pull-right text-muted">
                                    <em><%=notification.created_at.strftime("%d-%m-%Y")%></em>
                                </span>
                            </div>
                            <div><%=truncate(notification.message, :length => 70, :separator => ' ')%></div>
                        <%end%>
                    </li>
                    <li class="divider"></li> 
                <%end%>
                <li>
                    <%=link_to notifications_path, :class => "text-center" do%>
                        <strong>Leer Todas</strong>
                        <i class="fa fa-angle-right"></i>
                    <%end%>
                </li>
            </ul>
            <!-- /.dropdown-messages -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><%=link_to "<i class='fa fa-user fa-fw'></i> User Profile".html_safe%>
                </li>
                <li><%=link_to "<i class='fa fa-gear fa-fw'></i> Settings".html_safe%>
                </li>
                <li class="divider"></li>
                <li><%=link_to "<i class='fa fa-sign-out fa-fw'></i> Logout".html_safe, :controller => "users", :action => "logout"%>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->


    <div class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <%=form_tag({:controller => "reports", :action => "clients"}, method: :get) do%>
                        <div class="input-group custom-search-form">
                          <%=text_field_tag "institution_name", nil, class: "form-control", placeholder: "Buscar" %>
                          <span class="input-group-btn">
                            <%=button_tag "<i class='fa fa-search'></i>".html_safe, class: "btn btn-default"%>
                          </span>
                        </div>
                    <%end%>
                    <!-- /input-group -->
                </li>
                <%if session[:system_role] <= 2%>
                    <li <%=activate_menu_item("admin", active_item)%>>
                        <a href="#"><i class="fa fa-gears fa-fw"></i> Administración<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <%if session[:system_role] <= 1%>
                                <li>
                                    <%=link_to "Sistema", :controller => "main", :action => "system_manager"%>
                                </li>
                            <%end%>
                            <li>
                                <%=link_to "Áreas".html_safe, :controller => "main", :action => "area_manager" %>
                            </li>
                            <li>
                                <%=link_to "Cursos Moodle".html_safe, :controller => "moodle_courses", :action => "index" %>
                            </li>
                            <%if session[:system_role] <= 1%>
                                <li>
                                    <%=link_to "Admin. Cuentas Clientes", :controller => "clients", :action => "manage_accounts"%>
                                </li>
                                <li>
                                    <%=link_to "Listado de Productos", :controller => "main", :action => "manage_products"%>
                                </li>
                            <%end%>
                        </ul>
                    </li>
                <%end%>
                <%if session[:system_role] <= 1%>
                    <li <%=activate_menu_item("clients", active_item)%>>
                        <a href="#"><i class="fa fa-group fa-fw"></i> Clientes<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <%=link_to "Registrar Cliente", :controller => "clients", :action => "new"%>
                            </li>
                            <li>
                                <%=link_to "Cuentas", :controller => "clients", :action => "index"%>
                            </li>
                            <li <%=activate_menu_item("quotations", active_item)%>>
                            <a href="#">Cotizaciones<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <%=link_to "Mis Cotizaciones", :controller => "clients", :action => "quotations"%>
                                </li>
                            </ul>
                        </ul>
                    </li>
                <%end%>
                <%if session[:system_role] <= 2 %>
                    <li <%=activate_menu_item("reports",active_item)%>>
                        <a href="#"><i class="fa fa-files-o fa-fw"></i> Reportes<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <%=link_to "Reportes Actuales", :controller => "reports", :action => "clients"%>
                            </li>
                            <li>
                                <%=link_to "Reportes Historicos", :controller => "reports", :action => "historical"%>
                            </li>
                            <li>
                                <%=link_to "Reportes por Grupo", :controller => "reports", :action => "course_groups"%>
                            </li>
                        </ul>
                    </li>
                <%end%>
                <li <%=activate_menu_item("requests", active_item)%>>
                    <a href="#"><i class="fa fa-folder-open-o fa-fw"></i> Operaciones<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <%=link_to "Mis Trabajos".html_safe, :controller => "requests", :action => "index"%>
                        </li>
                        <li>
                            <%=link_to "Crear Requerimiento".html_safe, :controller => "requests", :action => "area_for_request"%>
                        </li>
                        <li>
                            <%=link_to "Requerimientos Enviados".html_safe, :controller => "requests", :action => "sent_requests"%>
                        </li>
                        <%areas = areas_for_user()%>
                        <%if !areas.blank? %>
                        <li <%=activate_menu_item("area_requests", active_item)%>>
                            <a href="#">Requerimientos por Área<span class="fa arrow"></span></a>
                            <%areas.each do |area|%>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <%=link_to get_areaname(area.instanceid), :controller => "requests", :action => "area_requests", :id => area.instanceid%>
                                    </li>
                                </ul>
                            <%end%>
                        </li>
                        <%end%>
                    </ul>
                </li>
                <li <%=activate_menu_item("notifications",active_item)%>>
                    <%=link_to "<i class='fa fa-envelope fa-fw'></i>  Notificaciones".html_safe, :controller => "notifications", :action => "index" %>
                </li>
            </ul>
            <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

<script>
$(function () {
    $('#side-menu').metisMenu({
      toggle: false
    });
});

//Loads the correct sidebar on window load,
//collapses the sidebar on window resize.
$(function() {
    $(window).bind("load resize", function() {
        width = (this.window.innerWidth > 0) ? this.window.innerWidth : this.screen.width;
        if (width < 768) {
            $('div.sidebar-collapse').addClass('collapse')
        } else {
            $('div.sidebar-collapse').removeClass('collapse')
        }
    })
})
</script>

