<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar" >
    <li class="<%=highlight_menu_item(params[:action],'control_panel')%>"><%=link_to "Home", :controller => "main", :action => "index"%></li>
    <li class="<%=highlight_menu_item(params[:controller],'reports')%>"><%=link_to "Reportes", :controller => "reports", :action => "index"%></li>
    <li class="<%=highlight_menu_item(params[:action],'horarios')%>"><%=link_to "Horarios", :controller => "main", :action => "horarios"%></li>
    <li class="<%=highlight_menu_item(params[:action],'extras')%>"><%=link_to "Extras", :controller => "main", :action => "extras"%></li>
  </ul>
</div>