
<div class="row">
    <div class="col-md-6">
        <%=form_tag :controller => "main", :action => "modify_assignation" do%>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Usuarios del Área</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <%=select_tag :role, options_for_select(roles.collect{|r| [r.rolename, r.id]}), {:class => "form-control"}%>
                        <%=hidden_field_tag :area, area.id%>
                    </div>
                    <div class="col-md-4">
                        <%=submit_tag "Modificar Roles", :class => "btn btn-primary btn-sm"%>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th style="text-align: center; width: 100px;">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%area_users.each do |u|%>
                            <tr>
                                <td><%=check_box_tag "assign[]", u.assignationid%></td>
                                <td><%=u.firstname+" "+u.lastname%></td>
                                <td><%=get_rolename(u.roleid)%></td>
                                <td style="text-align: center;"><%=link_to "<i class='fa fa-chevron-right'></i><i class='fa fa-chevron-right'></i>".html_safe, {action: "destroy", id: u.assignationid, area: area.id}, method: :delete, data: {confirm: "Estas seguro?"}%></td
                            </tr>
                        <%end%>
                    </tbody>
                </table>
            </div>
        </div>
        <%end%>
    </div>
    <div class="col-md-6">
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Usuarios de Longbourn</h3>
            </div>
            <div class="box-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 100px;">Agregar</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%system_users.each do |u|%>
                            <tr>
                                <td style="text-align: center;"><%=link_to "<i class='fa fa-chevron-left'></i><i class='fa fa-chevron-left'></i>".html_safe, {:controller => "main", :action => "assign_to_area", :params => {:area => area.id, :user => u.id}},{:method => :post}%></td>
                                <td><%=u.firstname+" "+u.lastname%></td>
                            </tr>
                        <%end%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>