<%= render "shared_partials/navigation_menu", :active_item => "admin"%>

<section class="content-header no-margin">
    <h1>
        Salas de Clases
        <small>Cotejamiento de Horarios</small>
    </h1>
    <ol class="breadcrumb">
        <li>Salas de Clases</li>
        <li class="active">Cotejamiento de Horarios</li>
    </ol>
</section>


<section class="content">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li>
                    <%=link_to "Listado de Salas", {:controller => :main, :action => :classrooms_list}%>
                </li>
                <li>
                    <%=link_to "Horarios de Salas", {:controller => :main, :action => :classroom_availability}%>
                </li>
                <li class="active">
                	<%=link_to "Cotejamiento de Salas", {:controller => :main, :action => :classroom_matching}%>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <section id="new">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <h3 class="box-title">Cotejamiento Actual</h3>
                                    </div>
                                    <div class="box-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Asociación de Salas</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%if @matchings.blank?%>
                                                <tr>
                                                    <td colspan="2">No hay datos para mostrar</td>
                                                </tr>
                                                <%else%>
                                                    <%@matchings.each do |m|%>
                                                    <tr>
                                                        <td><%=m.id%></td>
                                                        <td><%=m.matching_label%></td>
                                                    </tr>
                                                    <%end%>
                                                <%end%>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="box-footer clearfix">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <%=form_tag upload_classroom_matching_main_index_path, :multipart => true do%>
                                <div class="box box-warning">
                                    <div class="box-header">
                                        <h3 class="box-title">Importar Cotejamiento</h3>
                                    </div>
                                    <div class="box-body">
                                        <p>Importar cotejamiento de salas correspondiente a la configuracion de salas manejada actualmente.</p>
                                        <p>El siguiente <%=link_to "documento", {:controller => :main, :action => :classroom_matching_example}, {:target => "_blank"}%> entrega una nocion del formato que se debe utilizar para la importación.</p>
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <div class="btn btn-primary btn-file">
                                                    <i class="fa fa-upload"></i> Horarios
                                                    <%=file_field_tag :matchings%>
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-xs-offset-2">
                                                <%=text_field_tag :file_path, nil, {:disabled => true, :class => "form-control"}%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer clearfix">
                                        <div class="pull-right">
                                            <%=submit_tag "Guardar", :class => "btn btn-success"%>
                                        </div>
                                    </div>
                                </div>
                                <%end%>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
$( "#matchings" ).change(function(){
    var file_path = $("#matchings").val();
    $( "#file_path" ).val(file_path);
});
</script>