<%= render "shared_partials/navigation_menu", :active_item => "admin"%>

<section class="content-header no-margin">
    <h1>
        Productos
        <small>Productos Longbourn</small>
    </h1>
    <ol class="breadcrumb">
        <li>Administración</li>
        <li class="active">Productos de Longbourn</li>
    </ol>
</section>

<section class="content">
	<div class="row">
	    <div class="col-xs-12">
	        <div class="nav-tabs-custom">
	            <ul class="nav nav-tabs">
	                <li class="active">
	                	<%=link_to "Modalidades de Cursos", :controller => :main, :action => :course_modes%>
	                </li>
	                <li >
	                	<%=link_to "Productos de Longbourn", :controller => :main, :action => :zoho_product_list%>
	                </li>
	            </ul>
	            <div class="tab-content">
	                <div class="tab-pane active">
	                    <section>
	                    	<div class="row">
	                    		<div class="col-xs-8 col-xs-offset-2">
	                    			<div class="box box-warning">
	                    				<div class="box-header">
	                    					<h3 class="box-title">Modalidades de Cursos</h3>
	                    				</div>
	                    				<div class="box-body">
	                    					<table class="table">
	                    						<thead>
	                    							<tr>
		                    							<th>Modalidad</th>
		                    							<th>Descripcion</th>
		                    							<th>Estado</th>
		                    							<th style="text-align: center;">Editar</th>
		                    							<th style="text-align: center;">Eliminar</th>
	                    							</tr>
	                    						</thead>
	                    						<tbody>
	                    							<%if @modes.blank?%>
	                    							<tr>
	                    								<td colspan="5">No hay datos registrados.</td>
	                    							</tr>
	                    							<%else%>
		                    							<%@modes.each do |m|%>
		                    							<tr>
		                    								<td><%=m.mode_name%></td>
		                    								<td><%=m.description%></td>
		                    								<td><%=m.enabled ? "<span class='label label-success'>Habilitado</span>".html_safe : "<span class='label label-danger'>Desabilitado</span>".html_safe%></td>
		                    								<td style="text-align: center;"><%=link_to "<i class='fa fa-pencil'></i>".html_safe, :controller => :main, :action => :course_modes, :params => {:course_mode_id => m.id}%></td>
		                    								<td style="text-align: center;"><%=link_to "<i class='fa fa-times'></i>".html_safe, :controller => :main, :action => :disable_course_mode, :params => {:course_mode_id => m.id}%></td>
		                    							</tr>
		                    							<%end%>
		                    						<%end%>
	                    						</tbody>
	                    					</table>
	                    				</div>
	                    				<div class="box-footer clearfix">
	                    					<div class="pull-right">
	                    						<%=link_to "<i class='fa fa-eye'></i> Mostrar Modos Desabilitados".html_safe, {:controller => :main, :action => :course_modes, :params => {:show_disabled => 1}}, {:class => "btn btn-default"}%>
	                    					</div>
	                    				</div>
	                    			</div>
	                    		</div>
	                    	</div>
	                    	<div class="row">
		                    	<%if @course_mode.blank?%>
		                    		<%=render :partial => "new_course_mode_form"%>
		                    	<%else%>
		                    		<%=render :partial => "edit_course_mode_form", :locals => {:course_mode => @course_mode}%>
		                    	<%end%>
	                    	</div>
	                    </section>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</section>