<%= render "shared_partials/navigation_menu", :active_item => "admin"%>

<section class="content-header no-margin">
    <h1>
        Tareas para Creación de Cursos
        <small>Editar Tarea</small>
    </h1>
    <ol class="breadcrumb">
        <li>Administración</li>
        <li>Configuración de Creación de Cursos</li>
        <li class="active">Editar Tarea</li>
    </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="box box-info">
				<%=form_for :request_tag, :url => {:action => :update_course_creation_tag} do |f|%>
				<%=f.hidden_field :id, :value => @request_tag.id%>
				<div class="box-header">
					<h3 class="box-title">Nueva Tarea para Creación de Cursos</h3>
				</div>
				<div class="box-body">
					<div class="form-group">
						<label>Tarea</label>
						<%=f.text_field :tagname, :value => @request_tag.tagname, :class => "form-control"%>
					</div>
					<div class="form-group">
						<label>Area de Destino</label>
						<%=f.select :area_id, options_for_select(@areas.collect{|a| [a.areaname, a.id]}, @request_tag.area_id), {}, {:class => "form-control"}%>
					</div>
					<div class="form-group">
						<label>Mensaje Predeterminado</label>
						<%=f.text_area :default_msg, :value => @request_tag.default_msg, :id => "wysihtml5", :class => "wysihtml5"%>
					</div>
				</div>
				<div class="box-footer clearfix">
					<div class="pull-right">
						<%=f.submit "Editar Tarea", :class => "btn btn-primary"%>
					</div>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</section>