<%= render "shared_partials/navigation_menu", :active_item => "admin"%>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Productos de Longbourn Institute</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 form-group">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li <%=activate_tab(@active,"new")%>>
                    <%=link_to "Nuevo Producto", {:controller => "main", :action => "new_product"}%>
                </li>
                <li <%=activate_tab(@active,"default")%>>
                    <%=link_to "Ver Productos Habilitados", {:controller => "main", :action => "manage_products"}%>
                </li>
                <li <%=activate_tab(@active,"deleted")%>>
                    <%=link_to "Ver Productos Eliminados", {:controller => "main", :action => "manage_products", :params => {:ctrl => "deleted"}}%>
                </li>
                <li <%=activate_tab(@active,"outdated")%>>
                    <%=link_to "Ver Productos Vencidos", {:controller => "main", :action => "manage_products", :params => {:ctrl => "outdated"}}%>
                </li>
                <li <%=activate_tab(@active,"all")%>>
                    <%=link_to "Ver Todos los Productos", {:controller => "main", :action => "manage_products", :params => {:ctrl => "all"}}%>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Listado de Productos
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <%=render :partial => "products_table", :locals => {:mode => @active, :products => @products}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>