<%= render "shared_partials/navigation_menu", :active_item => "config"%>

<section class="content-header no-margin">
    <h1>
        Asistencia Sence
        <small>Documento de Asistencia Sence</small>
    </h1>
    <ol class="breadcrumb">
        <li>Administración</li>
        <li class="active">Asistencia Sence</li>
    </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title">Asistencia Sence</h3>
				</div>
				Por favor tener en cuenta los siguientes aspectos:
				<ul>
					<li>La extensión del archivo a subir debe ser CSV</li>
					<li>El formato del archivo debe ser el mismo que el entregado por el Sence. (No quitar ni agregar columnas)</li>
					<li>Las fechas del archivo deben estar en el formato 'dd-mm-aaaa'</li>
					<li>En caso de cumplir con estos requerimientos y presentar problemas, contacte al administrador del sistema.</li>
				</ul>
				<%=form_tag upload_sence_attendance_main_index_path, :multipart => true, :remote => true, :id => "sence-file-upload-form" do%>
				<div class="box-body">
					<p>Subir archivo de asistencia para cursos con franquicia Sence</p>
					<div class="row">
						<div class="col-xs-2">
							<div class="btn btn-primary btn-file">
								<i class="fa fa-upload"></i> Calendario
								<%=file_field_tag :sence_file%>
							</div>
						</div>
						<div class="col-xs-8">
							<%=text_field_tag :file_path, nil, {:disabled => true, :class => "form-control", :style => "width: 400px;"}%>
						</div>
					</div>
				</div>
				<%end%>
				<div class="box-footer clearfix">
					<div class="pull-right">
						<button id="submit-button" class="btn btn-success">Subir Archivo</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<%=render :partial => "file_loading_frame", :locals => {:finished => nil, :new_entries => nil}%>
		</div>
	</div>
</section>

<script>
$( "#sence_file" ).change(function(){
    var file_path = $("#sence_file").val();
    $( "#file_path" ).val(file_path);
});

$( "#submit-button" ).click(function(){
	$( "#file-loading-frame-loading" ).show();
	$( "#file-loading-frame-finished" ).hide();
	$( "#sence-file-upload-form").submit();
});

</script>