<%= render "shared_partials/navigation_menu", :active_item => "admin"%>

<section class="content-header no-margin">
    <h1>
        Profesores de Longbourn
        <small>Disponibilidad</small>
    </h1>
    <ol class="breadcrumb">
        <li>Administración</li>
        <li>Disponibilidad de Profesores</li>
        <li class="active"><%=@teacher.name%></li>
    </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-8">
			<div class="box box-info">
				<div class="box-body no-padding">
					<div id="calendar"></div>
				</div>
				<div class="box-footer">
                <table>
                    <tr>
                        <td><span class="label label-primary"><i class="fa fa-quare-o"></i></span>Cursos Moodle</td>
                    </tr>
                    <tr>
                        <td><span class="label label-warning"><i class="fa fa-quare-o"></i></span>Cursos Summit [Aun no iniciados]</td>
                    </tr>
                </table>
				</div>
			</div>
		</div>
		<div class="col-xs-4 pull-right">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Cursos Moodle</h3>
				</div>
				<div class="box-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
							</tr>
						</thead>
						<tbody>
							<%if @courses.blank?%>
							<tr>
								<td colspan="2">No hay Cursos Asignados</td>
							</tr>
							<%else%>
								<%@courses.each do |c|%>
								<tr>
									<td><%=c.id%></td>
									<td><%=c.coursename.truncate(35)%></td>
								</tr>
								<%end%>
							<%end%>
						</tbody>
					</table>
				</div>
				<div class="box-footer">
				</div>
			</div>
		</div>
		<div class="col-xs-4 pull-right">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Cursos Summit [No Moodle]</h3>
				</div>
				<div class="box-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
							</tr>
						</thead>
						<tbody>
							<%if @commerce_courses.blank?%>
							<tr>
								<td colspan="2">No hay Cursos Asignados</td>
							</tr>
							<%else%>
								<%@commerce_courses.each do |c|%>
								<tr>
									<td><%=c.id%></td>
									<td><%=c.coursename.truncate(35)%></td>
								</tr>
								<%end%>
							<%end%>
						</tbody>
					</table>
				</div>
				<div class="box-footer">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<%=render :partial => "user_disponibility_form", :locals => {:userid => @teacher.id, :disponibility => @disponibility}%>
		</div>
	</div>
</section>