<%= render "shared_partials/navigation_menu", :active_item => "config"%>

<section class="content-header no-margin">
    <h1>
        Administraci贸n
        <small>Profesores de Longbourn</small>
    </h1>
    <ol class="breadcrumb">
        <li>Administraci贸n</li>
        <li class="active">Profesores de Longbourn</li>
    </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title">Pofesores de Longbourn</h3>
					<div class="box-tools">
						<%=link_to "Configuraci贸n de Calificaciones", {:controller => :main, :action => :teacher_grades_config}, {:class => "btn btn-default pull-right btn-sm"}%>
					</div>
				</div>
				<div class="box-body">
					<table class="table">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Correo</th>
								<th style="text-align: center;">Cursos</th>
								<th style="text-align: center;">Nivel</th>
								<th style="text-align: center;">Evaluaci贸n</th>
								<th style="text-align: center;">Detalles</th>
							</tr>
						</thead>
						<tbody>
							<%@teachers.each do |t|%>
							<tr>
								<td><%=link_to t.name, {:action => :teacher_overview, :params => {:id => t.id}}%></td>
								<td><%=t.email%></td>
								<td style="text-align: center;"><%=teacher_courses_count(t.id)%></td>
								<td style="text-align: center;"><%=teacher_level_label(t.teacher_level_id)%></td>
								<td></td>
								<td style="text-align: center;"><%=link_to "<i class='fa fa-gears fa-lg'></i>".html_safe, {:action => :teacher_overview, :params => {:id => t.id}}, {:class => "btn btn-default"}%></td>
							</tr>
							<%end%>
						</tbody>
					</table>
				</div>
				<div class="box-footer">
				</div>
			</div>
		</div>
	</div>
</section>