<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th style="width: 50px;">ID</th>
			<th>Nombre</th>
			<th style="width: 100px; text-align: center;">Detalles</th>
			<th style="width: 100px; text-align: center;">Prom. Notas</th>
			<th style="width: 100px; text-align: center;">Reprobando</th>
			<th style="width: 100px; text-align: center;">Prom. Asistencia</th>
			<th style="width: 100px; text-align: center;">Bajo <%=min_attendance%>%</th>
			<th style="width: 100px; text-align: center;">Sesiones Registradas</th>
			<th style="width: 100px; text-align: center;">Total Sesiones</th>
			<th style="width: 180px;">Progreso</th>
		</tr>
	</thead>
	<tbody>
		<%if courses.blank?%>
			<tr>
				<td colspan="9">No hay cursos para mostrar</td>
			</tr>
		<%else%>
			<%courses.each do |c|%>
				<tr>
					<td><%=c.courseid%></td>
					<%if controller_name == "users"%>
					<td><%=link_to c.coursename.truncate(30), :controller => :users, :action => :show_course, :params => {:courseid => c.courseid}%></td>
					<%else%>
					<td><%=link_to c.coursename.truncate(30), :controller => :dashboard, :action => :course, :params => {:id => c.courseid}%></td>
					<%end%>
					<td style="text-align: center;"><%=c.summitid ? "<i class='fa fa-check fa-lg'></i>".html_safe : "<i class='fa fa-times fa-lg'></i>".html_safe%></td>
					<td style="text-align: center;"><span class="badge <%=grade_badge_class(c.mean_grade,c.gradetype)%>"><%=dashboard_grade_parser(c.mean_grade, c.gradetype.to_i)%></span></td>
					<td style="text-align: center;"><%=failing_grades_students(c)%></td>
					<td style="text-align: center;"><span class="badge <%=attendance_badge_class(c.avg_attendance_ratio ? c.avg_attendance_ratio*100 : 0)%>"><%=number_with_precision(c.avg_attendance_ratio ? c.avg_attendance_ratio*100 : 0, :precision => 1)%>%</span></td>
					<td style="text-align: center;"><%=failing_attendance_students(c)%></td>
					<td style="text-align: center;"><%=c.current_taken_sessions.to_s+" de "+c.current_booked_sessions.to_s%></td>
					<td style="text-align: center;"><%=c.total_sessions%></td>
					<td>
						<div class="progress xs progress-striped active">
							<div class="<%=course_current_progress_bar(c)%>" style="width: <%=progress_bar_pct(c.current_taken_sessions,c.total_sessions)%>;"></div>
						</div>
						<div class="progress xs progress-striped active">
							<div class="progress-bar progress-bar-info" style="width: <%=progress_bar_pct(c.current_booked_sessions,c.total_sessions)%>;"></div>
						</div>
					</td>
				</tr>
			<%end%>
		<%end%>
	</tbody>
</table>