<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "dashboard"%>

<section class="content-header">
    <h1>
        Summit Dashboard
       	<small>Desempeño por Cursos</small>
    </h1>
    <ol class="breadcrumb">
    	<li>Summit Dashboard</li>
        <li class="active">Listado de Cursos</li>
    </ol>
</section>

<section class="content">
	<div class="col-xs-12">
		<div class="box">
			<%=form_tag :controller => :dashboard, :action => :courses_list do%>
			<div class="box-header">
				<h3 class="box-title">Listado de Cursos de Longbourn</h3>
				<div class="box-tools">
					<div class="input-group">
							<input type="text" name="search" class="form-control input-sm pull-right" style="width: 300px;" placeholder="Buscar">
                        	<div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
				</div>
			</div>
			<%end%>
			<div class="box-body table-responsive">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th style="width: 50px;">ID</th>
							<th>Nombre</th>
							<th style="width: 100px; text-align: center;">Prom. Notas</th>
							<th style="width: 100px; text-align: center;">Reprobando</th>
							<th style="width: 140px; text-align: center;">Prom. Asistencia</th>
							<th style="width: 100px; text-align: center;">Bajo 75%</th>
							<th style="width: 100px; text-align: center;">Sesiones Registradas</th>
							<th style="width: 100px; text-align: center;">Total Sesiones</th>
							<th style="width: 180px;">Progreso</th>
						</tr>
					</thead>
					<tbody>
					<%@courses_list.each do |c|%>
						<tr>
							<td><%=c.courseid%></td>
							<td><%=link_to c.coursename, :controller => :dashboard, :action => :course, :params => {:id => c.courseid}%></td>
							<td style="text-align: center;"><%=dashboard_grade_parser(c.mean_grade, c.gradetype.to_i)%></td>
							<td style="text-align: center;"><%=failing_grades_students(c)%></td>
							<td style="text-align: center;"><%=number_with_precision(c.avg_attendance_ratio ? c.avg_attendance_ratio*100 : 0, :precision => 1)%>%</td>
							<td style="text-align: center;"><%=failing_attendance_students(c)%></td>
							<td style="text-align: center;"><%=c.current_taken_sessions.to_s+" de "+c.current_booked_sessions.to_s%></td>
							<td style="text-align: center;"><%=c.total_sessions%></td>
							<td>
								<div class="progress progress-striped active">
									<div class="<%=course_progress_bar(c)%>" style="width: <%=progress_bar_pct(c)%>"></div>
								</div>
							</td>
						</tr>
					<%end%>
					</tbody>
				</table>
			</div>
            <div class="box-footer clearfix">
                <div class="pull-right">
                    <%=paginate @courses_list%>
                </div>
            </div><!-- box-footer -->
		</div>
	</div>
</section>