<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "dashboard"%>

<section class="content-header">
    <h1>
        Summit Dashboard
       	<small>Desempeño por Cursos</small>
    </h1>
    <ol class="breadcrumb">
    	<li>Summit Dashboard</li>
        <li class="active">Listado de Cursos</li>
    </ol>
</section>

<section class="content">
	<div class="col-xs-12">
		<div class="box">
			<%=form_tag :controller => :dashboard, :action => :courses_list do%>
			<div class="box-header">
				<h3 class="box-title">Listado de Cursos de Longbourn</h3>
				<div class="box-tools">
					<div class="input-group">
						<input type="text" name="search" class="form-control input-sm pull-right" style="width: 400px;" placeholder="Buscar">
                    	<div class="input-group-btn">
                        	<button type="submit" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                    	</div>
                    </div>
					<div class="pull-right">
						<div class="checkbox">
							<label>
								<%=check_box_tag "filter[show_hidden]", true, @filters[:show_hidden] ? true : false%>
								Mostrar Ocultos
							</label>
						</div>
						<div class="checkbox">
							<label>
								<%=check_box_tag "filter[show_late]", true, @filters[:show_late] ? true : false%>
								Cursos Atrasados
							</label>
						</div>
					</div>
				</div>
			</div>
			<%end%>
			<div class="box-body table-responsive">
				<%=render :partial => "courses_table_partial", :locals => {:courses => @courses_list}%>
			</div>
            <div class="box-footer clearfix">
                <div class="pull-right">
                    <%=paginate @courses_list%>
                </div>
            </div><!-- box-footer -->
		</div>
	</div>
</section>