<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "dashboard"%>

<section class="content-header">
    <h1>
        Summit Dashboard
       	<small>Desempeño por Profesor</small>
    </h1>
    <ol class="breadcrumb">
    	<li>Summit Dashboard</li>
        <li class="active">Listado de Profesores</li>
    </ol>
</section>

<section class="content">
	<div class="col-xs-12">
		<div class="box box-primary">
			<%=form_tag :controller => :dashboard, :action => :teachers_list do%>
			<div class="box-header">
				<h3 class="box-title">Listado de Profesores de Longbourn</h3>
				<div class="box-tools">
					<div class="input-group">
							<input type="text" name="search" class="form-control input-sm pull-right" style="width: 300px;" placeholder="Buscar">
                        	<div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
				</div>
			</div>
			<%end%>
			<div class="box-body table-responsive no-padding">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Correo</th>
							<th># Cursos</th>
						</tr>
					</thead>
					<tbody>
						<%@teachers.each do |t|%>
						<tr>
							<td><%=link_to user_name(t.id), :controller => :dashboard, :action => :teacher, :params => {:id => t.id}%></td>
							<td><%=user_mail(t.id)%></td>
							<td><%=t.courses%></td>
						</tr>
						<%end%>
					</tbody>
				</table>
			</div>
            <div class="box-footer clearfix">
                <div class="pull-right">
                    <%=paginate @teachers%>
                </div>
            </div><!-- box-footer -->
		</div>
	</div>
</section>