<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "dashboard"%>

<section class="content-header">
    <h1>
        Desempeño de Profesores
       	<small><%=user_name(@user.id)%></small>
    </h1>
    <ol class="breadcrumb">
    	<li>Summit Dashboard</li>
    	<li>Desempeño de Profesores</li>
        <li class="active"><%=user_name(@user.id)%></li>
    </ol>
</section>

<section class="content">
	<div class="col-xs-12">
		<div class="box box-primary">
			<%=form_tag teacher_dashboard_index_path, :id => "filter_form" do%>
			<div class="box-header">
				<h3 class="box-title">Listado de Cursos: <%=user_name(@user.id)%></h3>
				<div class="box-tools">
					<div class="input-group">
						<input type="text" name="search" class="form-control input-sm pull-right" style="width: 300px;" placeholder="Buscar">
                    	<div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                    	</div>
                    </div>
					<div class="checkbox pull-right">
						<%=hidden_field_tag :id, @user.id%>
						<label>
						<%=check_box_tag "filter[show_hidden]", true, @show_hidden ? true : false%>
						Mostrar Cursos Ocultos
						</label>
					</div>
				</div>
			</div>
			<%end%>
			<div class="box-body table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Curso</th>
							<th style="width: 120px; text-align: center;">Sesiones Registradas</th>
							<th style="width: 120px; text-align: center;">Total Sesiones</th>
							<th style="width: 120px; text-align: center;">Asistencia Bajo <%=min_attendance%>%</th>
							<th style="width: 120px; text-align: center;">Alumnos Reprobando</th>
							<th>Progreso</th>
						</tr>
					</thead>
					<tbody>
						<%@courses.each do |c|%>
						<tr>
							<td><%=link_to c.coursename, :controller => :dashboard, :action => :course, :params => {:id => c.courseid}%></td>
							<td style="text-align: center;">
								<%=c.current_taken_sessions%> de <%=c.current_booked_sessions%>
							</td>
							<td style="text-align: center;"><%=c.total_sessions%></td>
							<td style="text-align: center;"><%=failing_attendance_students(c)%></td>
							<td style="text-align: center;"><%=failing_grades_students(c)%></td>
							<td>
								<div class="progress xs progress-striped active">
									<div class="<%=course_current_progress_bar(c)%>" style="width: <%=progress_bar_pct(c.current_taken_sessions,c.total_sessions)%>;"></div>
								</div>
								<div class="progress xs progress-striped active">
									<div class="progress-bar progress-bar-info" style="width: <%=progress_bar_pct(c.current_booked_sessions,c.total_sessions)%>;"></div>
								</div>
							</td>
						</tr>
						<%end%>
					</tbody>
				</table>
			</div>
            <div class="box-footer clearfix">
                <div class="pull-right">
                    <%=paginate @courses%>
                </div>
            </div><!-- box-footer -->
		</div>
	</div>
</section>