<%=render :partial => "mailer_header"%>
    <h1>Estimad@ <%= @user.firstname+" "+@user.lastname %>,</h1>
    <p>
      Su solución de la solicitud con el título "<%=@request.subject%>" ha sido ha sido rechazada y se le ha vuelto a asignar.<br>
    </p>
    <p>
      Para ver los detalles de esta solicitud, dirijase a la plataforma Summit de Longbourn mediante el siguiente link: <%=link_to @url, @url %>.<br>
    </p>
    <br>
    <p>Saluda atentamente,<br>
      Área de Sistemas y Procesos Longbourn Institute.</p>
    
    -------------------------------------------------------
    <p>Este correo fue generado automáticamente, por lo cual se sugiere no responderlo.</p>
<%=render :partial => "mailer_footer"%>