<%= render "shared_partials/navigation_menu", :active_item => "user"%>

<section class="content-header no-margin">
    <h1>
        Mis Cursos
        <small><%=@user.name%></small>
    </h1>
    <ol class="breadcrumb">
        <li>Panel de Usuario</li>
        <li class="active">Mis Cursos</li>
    </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title">Cursos Activos: <%=@user.name%></h3>
					<div class="box-tools">
						<div class="pull-right">
							<%=form_tag my_courses_users_path, :id => "filter-form", :method => :get do%>
							<div class="checkbox">
								<label>
									<%=check_box_tag "filter[show_hidden]", true, @filters[:show_hidden] ? true : false%>
									Mostrar Ocultos
								</label>
							</div>
							<%end%>
						</div>
					</div>
				</div>
				<div class="box-body">
					<%=render :partial => "dashboard/courses_table_partial", :locals => {:courses => @courses}%>
				</div>
				<div class="box-footer">
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
$('#filter_show_hidden').on('ifUnchecked', function(event) {
    $('#filter-form').submit();
});
//When checking the checkbox
$('#filter_show_hidden').on('ifChecked', function(event) {
    $('#filter-form').submit();
});
</script>