<%= render "shared_partials/navigation_menu", :active_item => "user"%>

<section class="content-header no-margin">
    <h1>
        Mis Cursos
        <small><%=@user.name%></small>
    </h1>
    <ol class="breadcrumb">
        <li>Panel de Usuario</li>
        <li class="active">Mis Cursos</li>
    </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title">Cursos de <%=@user.name%></h3>
					<div class="box-tools">
						<div class="pull-right">
							<%=form_tag my_courses_users_path, :id => "filter-form", :method => :get do%>
							<div class="checkbox">
								<label>
									<%=check_box_tag "filter[show_hidden]", true, @filters[:show_hidden] ? true : false%>
									Mostrar Ocultos
								</label>
							</div>
							<%end%>
						</div>
					</div>
				</div>
				<div class="box-body">
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th style="width: 50px;">ID</th>
								<th>Nombre</th>
								<th style="width: 100px; text-align: center;">Prom. Notas</th>
								<th style="width: 100px; text-align: center;">Reprobando</th>
								<th style="width: 140px; text-align: center;">Prom. Asistencia</th>
								<th style="width: 100px; text-align: center;">Bajo <%=min_attendance%>%</th>
								<th style="width: 100px; text-align: center;">Sesiones Registradas</th>
								<th style="width: 100px; text-align: center;">Total Sesiones</th>
								<th style="width: 180px;">Progreso</th>
							</tr>
						</thead>
						<tbody>
						<%@courses.each do |c|%>
							<tr>
								<td><%=c.courseid%></td>
								<td><%=link_to c.coursename, :controller => :dashboard, :action => :course, :params => {:id => c.courseid}%></td>
								<td style="text-align: center;"><%=dashboard_grade_parser(c.mean_grade, c.gradetype.to_i)%></td>
								<td style="text-align: center;"><%=failing_grades_students(c)%></td>
								<td style="text-align: center;"><%=number_with_precision(c.avg_attendance_ratio ? c.avg_attendance_ratio*100 : 0, :precision => 1)%>%</td>
								<td style="text-align: center;"><%=failing_attendance_students(c)%></td>
								<td style="text-align: center;"><%=c.current_taken_sessions.to_s+" de "+c.current_booked_sessions.to_s%></td>
								<td style="text-align: center;"><%=c.total_sessions%></td>
								<td>
									<div class="progress xs progress-striped active">
										<div class="<%=course_current_progress_bar(c)%>" style="width: <%=progress_bar_pct(c.current_taken_sessions,c.total_sessions)%>;"></div>
									</div>
									<div class="progress xs progress-striped active">
										<div class="progress-bar progress-bar-info" style="width: <%=progress_bar_pct(c.current_booked_sessions,c.total_sessions)%>;"></div>
									</div>
								</td>
							</tr>
						<%end%>
						</tbody>
					</table>
				</div>
				<div class="box-footer">
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
$('#filter_show_hidden').on('ifUnchecked', function(event) {
    $('#filter-form').submit();
});
//When checking the checkbox
$('#filter_show_hidden').on('ifChecked', function(event) {
    $('#filter-form').submit();
});
</script>