<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => ""%>
<section class="content-header">
    <h1>
        Perfil de Usuario
        <small><%=@user.name%></small>
    </h1>
    <ol class="breadcrumb">
        <li><%=link_to "Longbourn Summit", root_path%></li>
        <li class="active">Perfil de Usuario</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-user fa-lg"></i>
                    <h3 class="box-title">
                        <%=@user.name%>
                    </h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="small-box bg-blue">
                                <%=image_tag user_avatar(@user.id)%>
                                <a data-toggle="modal" data-target="#avatar-modal" class="small-box-footer" >Cambiar Imagen</a>
                                <%=form_tag change_profile_picture_users_path, :id => "profile-picture-form", :multipart => true do%>
                                    <%=render :partial => "change_image_modal"%>
                                <%end%>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Nombre</th>
                                        <td><%=@user.name%></td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td><%=@user.email%></td>
                                    </tr>
                                    <tr>
                                        <th>Institutción</th>
                                        <td><%=@user.institution%></td>
                                    </tr>
                                    <tr>
                                        <th>Departamento</th>
                                        <td><%=@user.department%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box-footer clearfix">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Horarios de Disponibilidad</h3>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 150px;">Dia</th>
                                <th>Hora Inicio</th>
                                <th>Hora Término</th>
                                <th>Desde</th>
                                <th>Hasta</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%@disponibility.each do |disp|%>
                            <tr>
                                <td><%=disp.day_number%></td>
                                <td><%=disp.start_time ? l(disp.start_time, :format => "%H:%M") : "-"%></td>
                                <td><%=disp.end_time ? l(disp.end_time, :format => "%H:%M") : "-"%></td>
                                <td><%=disp.start_date ? l(disp.start_date, :format => "%d / %b / %Y") : "-"%></td>
                                <td><%=disp.end_date ? l(disp.end_date, :format => "%d / %b / %Y") : "-"%></td>
                                <td><%=link_to "<i class='fa fa-times'></i>".html_safe, {:action => :delete_disponibility, :params => {:id => disp.id}}, {:class => "btn btn-sm btn-danger", :method => :delete}%></td>
                            </tr>
                            <%end%>
                            <tr>
                                <th colspan="6">Agregar</th>
                            </tr>
                            <%=form_for :user_disponibility, :url => {:action => :add_disponibility} do |f|%>
                            <%=f.hidden_field :user_id, :value => @user.id%>
                            <tr>
                                <td><%=f.select :day_number, options_for_select([["Lunes",1],["Martes",2],["Miércoles",3],["Jueves",4],["Viernes",5],["Sábado",6]],1), {}, {:class => "form-control"}%></td>
                                <td>
                                    <div class="bootstrap-timepicker">
                                        <div class="input-group">
                                            <%=f.text_field :start_time, :class => "form-control", :id => "timepicker1"%>
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="bootstrap-timepicker">
                                        <div class="input-group">
                                            <%=f.text_field :end_time, :class => "form-control", :id => "timepicker2"%>
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <%=f.date_field :start_date, :class => "form-control datepicker1"%>
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar-o"></i>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <%=f.date_field :end_date, :class => "form-control datepicker2"%>
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar-o"></i>
                                        </div>
                                    </div>
                                </td>
                                <td><%=f.submit "Crear", :class => "btn btn-primary btn-sm"%></td>
                            </tr>
                            <%end%>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">
                        Áreas
                    </h3>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Área Longbourn</th>
                                <th>Rol del Usuario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%@user_area_roles.each do |r|%>
                            <tr>
                                <td><%=get_area_name_by_context(r.contextid)%></td>
                                <td><%=get_rolename(r.roleid)%></td>
                            </tr>
                            <%end%>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
$(function() {
    //Timepicker
    $("#timepicker1").timepicker({
        showInputs: false,
        showMeridian: false 
    });
    $("#timepicker2").timepicker({
        showInputs: false,
        showMeridian: false 
    });
});
</script>
