<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => ["quotations","clients"]%>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Productos para Cotizacion</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Productos Agregados
                </div>
                <div class="panel-body">
                <%=form_for :quotation, :url => {:controller => "clients", :action => "set_discount"} do |f|%>
                <%=f.hidden_field :id, :value => @quotation.id%>
                    <table class="table table-striped" id="products-table">
                        <thead>
                            <tr>
                                <th>Modalidad</th>
                                <th>Cantidad Alumnos</th>
                                <th>Ubicación</th>
                                <th>Precio por Alumno</th>
                                <th>Horas del Curso</th>
                                <th>Precio Curso</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%@courses.each do |p|%>
                            <tr>
                                <td><%=p.modality%></td>
                                <td><%=p.students_qty%></td>
                                <td><%=p.location%></td>
                                <td><%=number_to_currency((p.price/p.students_qty), :unit => "$", :precision => 0)%></td>
                                <td><%=p.hours_amt.to_s%></td>
                                <td><%=number_to_currency(p.price, :unit => "$", :precision => 0)%></td>
                                <td><%=link_to "<i class='fa fa-times'></i>".html_safe, {:controller => "clients", :action => "destroy_product", :params => {:courseid => p.courseid, :qid => @quotation.id}}, {:class => "btn btn-circle btn-default", :method => :delete, :data => {:confirm => "Estas Seguro?"}}%></td>
                            </tr>
                            <%end%>
                            <tr>
                                <td colspan="5"><b>Descuento</b></td>
                                <td><%=f.select :discount, options_for_select((0..20).step(5).collect{|d| ["#{d}%",d]}, (@quotation.discount*100).to_i), {}, :class => "form-control"%></td>
                                <td><%=f.submit "Aplicar Descuento", :class => "btn btn-default"%></td>
                            </tr>
                            <tr>
                                <td colspan="5"><b>Total</b></td>
                                <td><b><%=number_to_currency(@quotation.price, :unit => "$", :precision => 0)%></b></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <%=link_to "Continuar con la Cotizacion", {:controller => "clients", :action => "edit_quotation", :params => {:id => @quotation.id}}, :class => "btn btn-default"%>
                    </div> 
                <%end%>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <%=form_for @course, :url => {:controller => "clients", :action => "create_product"} do |f|%>
        <%=f.hidden_field :qid, :value => @quotation.id%>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Agregar Nuevo Producto
                </div>
                <div class="panel-body">
                    <div class="col-lg-8" id="product-info">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Modalidad</th>
                                    <th>Máximo de Alumnos</th>
                                    <th>Horas del Curso</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%@prices.each do |m|%>
                                <tr>
                                    <td><%=f.radio_button :productpriceid, m.id%></td>
                                    <td><%=m.modality%></td>
                                    <td><%=m.students_qty%></td>
                                    <td><%=m.hours_amt%></td>
                                    <td><%=number_to_currency(m.price, :unit => "$", :precision => 0)%></td>
                                </tr>
                                <%end%>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Cantidad de Alumnos</label>
                            <%=f.select :students_qty, options_for_select((1..20).step(1).collect{|p| ["#{p}",p]}), {}, :class => "form-control"%>
                        </div>
                        <div class="form-group">
                            <label>Ubicación</label>
                            <%=f.text_field :location, :class => "form-control"%>
                        </div>
                        <div class="pull-right">
                            <%=f.submit "Agregar a Cotizacion", :class => "btn btn-default"%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%end%>
    </div>
</div>