<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => ["quotations","clients"]%>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cotizacion para Cliente: <%=@client.institution%></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Datos Generales
                </div>
                <div class="panel-body">
                    <div class="col-lg-5">
                        <table class="table" id="provider-table">
                            <tr>
                                <th>Proveedor</th>
                                <td><%=@provider.institution%></td>
                            </tr>
                            <tr>
                                <th>RUT</th>
                                <td><%=@provider.rut%></td>
                            </tr>
                            <tr>
                                <th>Direcci贸n</th>
                                <td><%=@provider.address%></td>
                            </tr>
                            <tr>
                                <th>Telefono</th>
                                <td><%=@provider.phone%></td>
                            </tr>
                            <tr>
                                <th>Atenci贸n</th>
                                <td><%=@user.firstname+" "+@user.lastname%></td>
                            </tr>
                            <tr>
                                <th>E-Mail</th>
                                <td><%=@user.email%></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-5 col-lg-offset-1">
                        <table class="table" id="client-table">
                            <tr>
                                <th>Comprador</th>
                                <td><%=@client.institution%></td>
                            </tr>
                            <tr>
                                <th>Rut</th>
                                <td><%=@client.rut%></td>
                            </tr>
                            <tr>
                                <th>Direcci贸n</th>
                                <td><%=@client.address%></td>
                            </tr>
                            <tr>
                                <th>Telefono</th>
                                <td><%=@client.phone%></td>
                            </tr>
                            <tr>
                                <th>Contacto</th>
                                <td><%=@client.firstname+" "+@client.lastname%></td>
                            </tr>
                            <tr>
                                <th>E-Mail</th>
                                <td><%=@client.email%></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped" id="products-table">
                        <thead>
                            <tr>
                                <th>Modalidad</th>
                                <th>Cantidad Alumnos</th>
                                <th>Ubicaci贸n</th>
                                <th>Precio por Alumno</th>
                                <th>Horas del Curso</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%@products.each do |p|%>
                            <tr>
                                <td><%=p.modality%></td>
                                <td><%=p.students_qty%></td>
                                <td><%=p.location%></td>
                                <td><%=number_to_currency((p.price/p.students_qty), :unit => "$", :precision => 0)%></td>
                                <td><%=p.hours_amt.to_s%></td>
                                <td><%=number_to_currency(p.price, :unit => "$", :precision => 0)%></td>
                            </tr>
                            <%end%>
                            <tr>
                                <td colspan="5"><b>Descuento</b></td>
                                <td><b><%=(@quotation.discount*100).to_s+"%"%></b></td>
                            </tr>
                            <tr>
                                <td colspan="5"><b>Total Programa</b></td>
                                <td><b><%=number_to_currency(@quotation.price, :unit => "$", :precision => 0)%></b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Comentarios
                </div>
                <div class="panel-body">
                    <div class="col-lg-10 col-lg-offset-1">
                        <%=simple_format @quotation.comments%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <%=link_to "Editar Cotizacion", {:controller => "clients", :action => "edit_quotation", :params => {:id => @quotation.id}}, {:class => "btn btn-default btn-lg btn-block"}%>
    </div>
</div>