<table class="table table-striped table-bordered table-hover" id="<%=tableid%>">
    <thead>
        <tr>
            <th></th>
            <th style="text-align: center;"> ID</th>
            <th>Tema</th>
            <th>Enviada Por</th>
            <th>Responsable</th>
            <th style="text-align: center;">Prioridad</th>
            <th style="text-align: center;">Estado</th>
            <th style="text-align: center;">Fecha de Solicitud</th>
            <th style="text-align: center;">Fecha Límite</th>
        </tr>
    </thead>
    <tbody>
        <%requests.each do |request|%>                                       
            <tr>
                <td style="text-align: center;"><%=check_box_tag "requests[]",request.id%></td>
                <td style="text-align: center;"><%=request.id%></td>
                <td><%=link_to truncate(request.subject, length: 50), {:controller => "request_notes", :action => "show", :params => {:id => request.id}}%></td>
                <td><%=get_username(request.userid)%></td>
                <td><%=get_username(request.receiverid)%></td>
                <td style="text-align: center;"><%=request_priority_desc(request.priorityid)%></td>
                <td style="text-align: center;"><span class="label label-%>"><%=request_status_desc(request.statusid)%></span></td>
                <td style="text-align: center;"><%=request.created_at.strftime("%d-%m-%Y")%></td>
                <td style="text-align: center;"><%=show_date(request.duedate)%></td>
            </tr>
        <%end%>
    </tbody>
</table>

