<div class="table-responsive" id="area_request_table">
    <table class="table table-striped table-bordered table-hover" id="my-requests-table">
        <thead>
            <tr>
                <th></th>
                <th>Tema</th>
                <th>Área de Destino</th>
                <th style="text-align: center;">Prioridad</th>
                <th style="text-align: center;">Estado</th>
                <th style="text-align: center;">Fecha de Solicitud</th>
                <th style="text-align: center;">Fecha Límite</th>
            </tr>
        </thead>
        <tbody>
            <%@requests.each do |request|%>                                       
                <tr>
                    <td style="text-align: center;"><%=check_box_tag "requests[]",request.id%></td>
                    <td><%=request.subject%></td>
                    <td><%=request_areaname(request.areaid)%></td>
                    <td style="text-align: center;"><%=request_priority_desc(request.priorityid)%></td>
                    <td style="text-align: center;"><%=request_status_desc(request.statusid)%></td>
                    <td style="text-align: center;"><%=request.created_at.strftime("%d-%m-%Y")%></td>
                    <td style="text-align: center;"><%=request.duedate.strftime("%d-%m-%Y")%></td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>
