<table class="table table-striped table-bordered table-hover" id="<%=tableid%>">
    <thead>
        <tr>
            <th></th>
            <th style="text-align: center;"> ID</th>
            <th>Tema</th>
            <th>Enviada Por</th>
            <th>Responsable</th>
            <th style="text-align: center;">Prioridad</th>
            <th style="text-align: center;">Estado</th>
            <th style="text-align: center;">Fecha de Solicitud</th>
            <th style="text-align: center;">Fecha Límite</th>
            <th style="text-align: center;">Anotaciones</th>
        </tr>
    </thead>
    <tbody>
        <%requests.each do |request|%>                                       
            <tr>
                <td style="text-align: center;"><%=check_box_tag "requests[]",request.id%></td>
                <td style="text-align: center;"><%=request.id%></td>
                <td><%=link_to request.subject, {} ,:data => {:toggle => "modal", :target => "#requestModal"+request.id.to_s}%></td>
                <td><%=get_username(request.userid)%></td>
                <td><%=get_username(request.receiverid)%></td>
                <td style="text-align: center;"><%=request_priority_desc(request.priorityid)%></td>
                <td style="text-align: center;"><%=request_status_desc(request.statusid)%></td>
                <td style="text-align: center;"><%=request.created_at.strftime("%d-%m-%Y")%></td>
                <td style="text-align: center;"><%=show_date(request.duedate)%></td>
                <td style="text-align: center;"><%=link_to "<i class='fa fa-list'></i>".html_safe, {:controller => "request_notes", :action => "show", :params => {:id => request.id}}, {:class => "btn btn-outline btn-primary"} %></td>
            </tr>
            <%=render :partial => "modal_request", :locals => {:request => request}%>
        <%end%>
    </tbody>
</table>

