<!-- Modal -->
<div class="modal fade" id="<%='requestModal'+request.id.to_s%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><%=request.subject%></h4>
            </div>
            <div class="modal-body">
                <%=simple_format request.request%>
                <a href="<%=request.attach.url%>"></a>
            </div>
            <div class="modal-footer">
                <%if request.attach.exists? %>
                    <%=link_to "Ver Archivos Adjuntos", request.attach.url, :class =>"btn btn-default",:target => "_blank" %>
                <%end%>
                <%=link_to "Comentarios", {:controller => :request_notes, :action => :show, :params => {:id => request.id}}, {:class => "btn btn-default"}%>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->