<table class="table table-striped table-bordered table-hover" id="pending-requests-table">
    <thead>
        <tr>
            <th style="text-align: center;"> ID</th>
            <th>Tema</th>
            <th>Categoría</th>
            <th>Remitente</th>
            <th style="text-align: center;">Estado</th>
            <th style="text-align: center;">Fecha Límite</th>
            <th style="text-align: center;">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <%if @requests.nil? || @requests.empty?%>
            <tr class="warning">
                <td colspan="7">No hay solicitudes pendientes asignadas al usuario</td>
            </tr>
        <%else%>
            <%@requests.each do |request|%>
                <tr>
                    <td style="text-align: center;"><%=request.id%></td>
                    <td><%=link_to truncate(request.subject), {:controller => "request_notes", :action => "show", :params => {:id => request.id}}%></td>
                    <td><%=get_tagname(request.tagid)%></td>
                    <td><%=get_username(request.userid)%></td>
                    <td style="text-align: center;"><%=request_status_desc(request.statusid)%></td>
                    <td style="text-align: center;"><%=show_date(request.duedate)%></td>
                    <%if request.statusid == 4%>
                        <td style="text-align: center;"><%=link_to "<i class='fa fa-mail-reply'></i>".html_safe, {:controller => "requests", :action => "mark_solution" ,:params => {:id => request.id, :statusid => 1, :actionname => action_name}}, {:class => "btn btn-warning btn-circle"}%></td>
                    <%else%>
                        <td style="text-align: center;"><%=link_to "<i class='fa fa-check'></i>".html_safe, {:controller => "requests", :action => "mark_solution" ,:params => {:id => request.id, :statusid => 4, :actionname => action_name}}, {:class => "btn btn-success btn-circle"} %></td>
                    <%end%>
                </tr>
            <%end%>
        <%end%>
    </tbody>
</table>