<table class="table table-striped table-bordered table-hover" id="pending-requests-table">
    <thead>
        <tr>
            <th>Tema</th>
            <th>Tag</th>
            <th>Remitente</th>
            <th style="text-align: center;">Prioridad</th>
            <th style="text-align: center;">Fecha Límite</th>
            <th style="text-align: center;">Marcar como Resuelta</th>
            <th style="text-align: center;">Anotaciones</th>
        </tr>
    </thead>
    <tbody>
        <%if @requests.nil? || @requests.empty?%>
            <tr class="warning">
                <td colspan="5">No hay solicitudes pendientes asignadas al usuario</td>
            </tr>
        <%else%>
            <%@requests.each do |request|%>
                <tr>
                    <td><%=link_to truncate(request.subject), "" ,:data => {:toggle => "modal", :target => "#requestModal"+request.id.to_s}%></td>
                    <td><%=select_tag "r_tagid[]", options_for_select(@tags.collect{|t| [t.tagname, request.id.to_s+";"+t.id.to_s]}, request.id.to_s+";"+request.tagid.to_s), {:class => "form-control", :onchange => "$('#tag-marker-form').submit();"}%></td>
                    <td><%=get_username(request.userid)%></td>
                    <td style="text-align: center;"><%=request_priority_desc(request.priorityid)%></td>
                    <td style="text-align: center;"><%=show_date(request.duedate)%></td>
                    <td style="text-align: center;"><%=link_to "<i class='fa fa-check'></i>".html_safe, {:controller => "requests", :action => "mark_solution" ,:params => {:id => request.id, :statusid => 4}}, {:remote => true, :class => "btn btn-default btn-circle"} %></td>
                    <td style="text-align: center;"><%=link_to "<i class='fa fa-list'></i>".html_safe, {:controller => "request_notes", :action => "show", :params => {:id => request.id}}, {:class => "btn btn-primary"} %></td>
                </tr>
                <%=render :partial => "modal_request", :locals => {:request => request}%>
            <%end%>
        <%end%>
    </tbody>
</table>