<table class="table table-striped table-bordered table-hover" id="my-requests-table">
    <thead>
        <tr>
            <th style="text-align: center;"> ID</th>
            <th>Tema</th>
            <th>Área de Destino</th>
            <th style="text-align: center;">Prioridad</th>
            <th style="text-align: center;">Estado</th>
            <th style="text-align: center;">Fecha de Solicitud</th>
            <th style="text-align: center;">Fecha Límite</th>
            <th style="text-align: center;">Editar</th>
            <th style="text-align: center;">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <%@requests.each do |request|%>                                       
            <tr>
                <td style="text-align: center;"><%=request.id%></td>
                <td><%=truncate(request.subject, length: 50)%></td>
                <td><%=request_areaname(request.areaid)%></td>
                <td style="text-align: center;"><%=request_priority_desc(request.priorityid)%></td>
                <td style="text-align: center;"><span class="label label-<%=request_label_class(request.statusid)%>"><%=request_status_desc(request.statusid)%></span></td>
                <td style="text-align: center;"><%=request.created_at.strftime("%d-%m-%Y")%></td>
                <td style="text-align: center;"><%=show_date(request.duedate)%></td>
	            <td style="text-align: center;"><%=link_to (image_tag "edit_icon.png", :size => "30x30"), :controller => "requests", :action => "edit_request", :params => {:id => request.id}%></td>
	            <td style="text-align: center;"><%=link_to (image_tag "delete_icon.png", :size => "30x30"), {action: "destroy", id: request.id}, method: :delete, data: {confirm: "Estas seguro?"}%></td>
            </tr>
        <%end%>
    </tbody>
</table>
