<div class="table-responsive" id="requests-table">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Tema</th>
                <th>Usuario Solicitante</th>
                <th>Área de Destino</th>
                <th style="text-align: center;">Prioridad</th>
                <th style="text-align: center;">Fecha de Solicitud</th>
                <th style="text-align: center;">Fecha Límite</th>
            </tr>
        </thead>
        <tbody>
            <%if @requests.empty?%>
                <tr class="warning">
                    <td colspan="6">No hay solicitudes para mostrar</td>
                </tr>
            <%else%>
                <%@requests.each do |request|%>                                       
                    <tr>
                        <td><%=link_to request.subject, :controller => "requests", :action => "show", :params => {:id => request.id}%></td>
                        <td><%=request.solicitante%></td>
                        <td><%=request.t_areaname%></td>
                        <td style="text-align: center;"><%=request.p_shortname%></td>
                        <td style="text-align: center;"><%=request.created_at.strftime("%d-%m-%Y")%></td>
                        <td style="text-align: center;"><%=request.duedate%></td>
                    </tr>
                <%end%>
            <%end%>
        </tbody>
    </table>
</div>
