<table class="table table-striped table-bordered table-hover" id="resolved-requests-table">
    <thead>
        <tr>
            <th>Tema</th>
            <th>Tag</th>
            <th style="text-align: center;">Estado</th>
            <th style="text-align: center;">Fecha Límite</th>
            <th style="text-align: center;">Marcar como Pendiente</th>
        </tr>
    </thead>
    <tbody>
        <%if @resolved_requests.nil? || @resolved_requests.empty?%>
            <tr class="warning">
                    <td colspan="5"> No hay solicitudes para mostrar</td>
            </tr>
        <%else%>
            <%@resolved_requests.each do |request|%>                                       
                <tr>
                    <td><%=link_to request.subject, "" ,:data => {:toggle => "modal", :target => "#requestModal"+request.id.to_s}%></td>
                    <td><%=get_tagname(request.tagid)%></td>
                    <td style="text-align: center;"><%=request_status_desc(request.statusid)%></td>
                    <td style="text-align: center;"><%=request.duedate.strftime("%d-%m-%Y")%></td>
                    <%if request.statusid == 4%>
                    <td style="text-align: center;"><%=link_to "<i class='fa fa-times'></i>".html_safe, {:controller => "requests", :action => "mark_solution" ,:params => {:id => request.id, :statusid => 1}}, {:remote => true, :class => "btn btn-danger btn-circle"}%></td>
                    <%else%>
                    <td style="text-align: center;"><%=link_to "<i class='fa fa-times'></i>".html_safe, {:controller => "requests", :action => "mark_solution" ,:params => {:id => request.id, :statusid => 1}}, {:remote => true, :class => "btn btn-danger btn-circle", :disabled => true}%></td>
                    <%end%>
                </tr>
                <%=render :partial => "modal_request", :locals => {:request => request}%>
            <%end%>
        <%end%>
    </tbody>
</table>
