 <!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "requests"%>

<section class="content-header">
    <h1>
        Creación de Requerimientos
        <small>Selección de Área</small>
    </h1>
    <ol class="breadcrumb">
        <li><%=link_to "Requerimientos", :controller => :requests, :action => :index%></li>
        <li class="active">Creación de Requerimientos</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-8 col-md-offset-2">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Selección de Área</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <%=form_tag new_request_requests_path, :method => :get do%>
                    <div class="box-body">
                        <p>Por favor, selecciona el área de Longbourn a la cual deseas enviar el requerimiento</p>
                        <div class="form-group">
                            <%=select_tag :areaid, options_for_select(@areas.collect{|a| [a.areaname, a.id]}), :class => "form-control"%>
                        </div>
                    <div class="box-footer">
                        <%=submit_tag "Seleccionar", :class => "btn btn-primary"%>
                    </div>
                <%end%>
                </div><!-- /.box -->
            </div>
        </div>
    </div>
</section>
