<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "area-requests"%>
<section class="content-header no-margin">
    <h1>
        Requerimientos por Área
        <small><%=@area.areaname%></small>
    </h1>
    <ol class="breadcrumb">
        <li><%=link_to "Operaciones", :controller => :requests, :action => :index%></li>
        <li class="active">Requerimientos por Área</li>
    </ol>
</section>

<section class="content">
    <!-- MAILBOX BEGIN -->
    <div class="mailbox row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <!-- BOXES are complex enough to move the .box-header around.
                                 This is an example of having the box header within the box body -->
                            <div class="box-header">
                                <i class="fa fa-inbox"></i>
                                <h3 class="box-title">INBOX</h3>
                            </div>
                            <%=link_to "<i class='fa fa-pencil'></i> Crear Requerimiento".html_safe, {:controller => :requests, :action => :area_for_request}, {:class => "btn btn-block btn-primary"}%>
                            <!-- Navigation - folders-->
                            <div style="margin-top: 15px;">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="header">Folders</li>
                                    <li <%=activate_tab(@active,"all")%>>
                                        <%=link_to :controller => "requests", :action => "area_requests", :params => {:f => "all", :id => @area.id} do%>
                                            <i class="fa fa-inbox"></i> Todos
                                        <%end%>
                                    </li>
                                    <li <%=activate_tab(@active,"assigned")%>>
                                        <%=link_to :controller => "requests", :action => "area_requests", :params => {:f => "assigned", :id => @area.id} do%>
                                            <i class="fa fa-cogs"></i> Requerimientos Asignados
                                        <%end%>
                                    </li>
                                    <li <%=activate_tab(@active,"unassigned")%>>
                                        <%=link_to :controller => "requests", :action => "area_requests", :params => {:f => "unassigned", :id => @area.id}%>
                                        <i class="fa fa-check-square-o"></i> Sin Asignar
                                        <%end%>
                                    </li>
                                    <li <%=activate_tab(@active,"manage")%>>
                                        <%=link_to :controller => "requests", :action => "manage_area_requests", :params => {:id => @area.id} do%>
                                            <i class="fa fa-cogs"></i> Administración
                                        <%end%>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.col (LEFT) -->
                        <div class="col-md-9 col-sm-8">
                            <div class="row pad">
                                <div class="col-sm-6 col-sm-offset-6 search-form">
                                    <form action="#" class="text-right">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" placeholder="Search">
                                            <div class="input-group-btn">
                                                <button type="submit" name="q" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <%=render :partial => "requests_table_partial", :locals => {:requests => @requests, :active => @active}%>
                            </div>
                        </div><!-- /.col (RIGHT) -->
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <div class="pull-right">
                        <small>Showing 1-12/1,240</small>
                        <button class="btn btn-xs btn-primary"><i class="fa fa-caret-left"></i></button>
                        <button class="btn btn-xs btn-primary"><i class="fa fa-caret-right"></i></button>
                    </div>
                </div><!-- box-footer -->
            </div>
        </div>
    </div>
</section>






<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Requerimientos Realizados Área: <%=@area.areaname%></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 form-group">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li <%=activate_tab(@active,"all")%>>
                    <%=link_to "Todos los Requerimientos del Área", :controller => "requests", :action => "area_requests", :params => {:f => "all", :id => @area.id}%>
                </li>
                <li <%=activate_tab(@active,"assigned")%>>
                    <%=link_to "Sólo Requerimientos Asignados", :controller => "requests", :action => "area_requests", :params => {:f => "assigned", :id => @area.id}%>
                </li>
                <li <%=activate_tab(@active,"unassigned")%>>
                    <%=link_to "Sólo Requerimientos Sin Asignar", :controller => "requests", :action => "area_requests", :params => {:f => "unassigned", :id => @area.id}%>
                </li>
                <li <%=activate_tab(@active,"manage")%>>
                    <%=link_to "Administración", :controller => "requests", :action => "manage_area_requests", :params => {:id => @area.id}%>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Requerimientos de Área
                </div>
                <div class="panel-body">
                    <%=form_tag assign_requests_requests_path do %>
                        <div class="row">
                            <div class="col-md-4">
                                <%=hidden_field_tag :areaid, @area.id%>
                                <%=select_tag :receiverid, options_for_select(@receivers.collect{|u| [u.firstname+" "+u.lastname, u.id]}), {:prompt => "Seleccionar Usuario", :class => "form-control"}%>
                            </div>
                            <div class="col-md-3">
                                <%=date_field_tag :duedate, "",:placeholder => "Fecha Límite", :class => "form-control"%>
                            </div>
                            <div class="col-md-3">
                                <%=submit_tag "Asignar a usuario",:class => "btn btn-default"%>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <div id="unassigned-requests-table">
                            <%=render :partial => "area_requests_table", :locals => {:requests => @requests, :tableid => "area-requests-table"}%>
                            </div>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#area-requests-table').dataTable({
        "bSort": false
    });
});
</script>