 
 <!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu"%>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Solicitudes</h1>

        </div>
        <!-- /.col-lg-12 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Listado de Solicitudes
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <%if !flash[:notice].nil?%>
                            <div class="alert alert-success">
                                <%=flash[:notice]%>
                            </div>
                        <%end%>
                        <div class="form-group">
                            <%=form_for(:r_filter, :url=>{:controller => "requests", :action => "filter_requests"}, :remote => true, :html =>{:id => "request-filter-form"}) do |f|%>
                                <div class="col-md-3 col-md-offset-1">
                                    <div class="input-group">
                                        <label>Filtro por Área</label>
                                        <%get_area_list().each do |area|%>
                                            <div class="checkbox">
                                                <label>
                                                    <%=f.check_box :t_area, {:multiple => true, :onchange => "$('#request-filter-form').submit();"}, area.id, nil%>
                                                    <%=area.area_name%>
                                                </label>
                                            </div>
                                        <%end%>                                      
                                    </div>
                                </div>
                                <div class="col-md-3 col-md-offset-1">
                                    <div class="input-group">
                                        <label>Filtro por Estado</label>
                                        <%get_status_list().each do |status|%>
                                            <div class="checkbox">
                                                <label>
                                                    <%=f.check_box :status, {:multiple => true, :onchange => "$('#request-filter-form').submit();"}, status.id, nil%>
                                                    <%=status.description%>
                                                </label>
                                            </div>
                                        <%end%>
                                    </div>
                                </div>
                                <div class="col-md-3 col-md-offset-1">
                                    <div class="input-group">
                                        <label>Filtro por Prioridad</label>
                                            <%get_priority_list().each do |p|%>
                                                <div class="checkbox">
                                                    <label>
                                                        <%=f.check_box :priority, {:multiple => true, :onchange => "$('#request-filter-form').submit();"}, p.id, nil%>
                                                        <%=p.shortname%>
                                                    </label>
                                                </div>
                                            </end>
                                        <%end%>
                                    </div>
                                </div>
                            <%end%>
                        </div>
                        <%= render :partial => "requests_table" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>