<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "requests"%>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Requerimientos Asignados a <%=@user.firstname+" "+@user.lastname%></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 form-group">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li <%=activate_tab(@active,"pending")%>>
                    <%=link_to "Requerimientos Pendientes", {:controller => "requests", :action => "index", :params => {:opt => "pending"}}%>
                </li>
                <li <%=activate_tab(@active,"solved")%>>
                    <%=link_to "Requerimientos Resueltos / Cancelados", {:controller => "requests", :action => "index", :params => {:opt => "solved"}}%>
                </li>
            </ul>
        </div>
    </div>
    <%if @active == "pending"%>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Requerimientos Pendientes
                    </div>
                    <div class="panel-body">
    					<div class="table-responsive">
                            <%=render :partial => "pending_requests"%>
    					</div>
                    </div>
                </div>
            </div>
        </div>
    <%else%>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Requerimientos Resueltos / Cancelados
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <%=render :partial => "resolved_requests"%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%end%>
</div>
<script>
$(document).ready(function() {
    $('#resolved-requests-table').dataTable();
    $('#pending-requests-table').dataTable();
});
</script>