<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "area_req"%>
<section class="content-header no-margin">
    <h1>
        Administración de Requerimientos
        <small><%=@area.areaname%></small>
    </h1>
    <ol class="breadcrumb">
        <li><%=link_to "Operaciones", :controller => :requests, :action => :index%></li>
        <li><%=link_to "Requerimientos por Área", :controller => :requests, :action => :area_requests, :id => @area.id%></li>
        <li class="active">Administración de Requerimientos</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Categorías por Área</h3>
                </div>
                <div class="box-body">
                    <p>Categorías para la clasificación de requerimientos en el Área <strong><%=@area.areaname%></strong></p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 200px;">Categoría</th>
                                <th style="width: 350px;">Usuario Predeterminado</th>
                                <th style="text-align:center;">Editar</th>
                                <th style="text-align:center;">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%@tags.each do |t|%>
                            <tr>
                                <td><%=t.tagname%></td>
                                <td><%=get_username(t.default_user_id)%></td>
                                <td style="text-align:center;"><%=link_to "<i class='fa fa-pencil'></i>".html_safe, {:action => "edit_request_tag", :params => {:id => @area.id, :tagid => t.id}}, {:class => "btn btn-sm btn-warning"}%></td>
                                <td style="text-align:center;"><%=link_to "<i class='fa fa-times'></i>".html_safe, {action: "destroy_request_tag", :params => {:id => t.id, :area_id => @area.id}}, {method: :delete, data: {confirm: "Estas seguro?"}, :class => "btn btn-sm btn-danger"}%></td>
                            </tr>
                            <%end%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Administración de Categorías</h3>
                </div>
                <div class="box-body">
                    <%if @default_tag.id.blank?%>
                        <%=form_for @default_tag, :url => {:action => "create_request_tag"} do |f|%>
                        <div class="row">
                            <div class="col-sm-7">
                                <%=f.hidden_field :area_id, :value => @area.id%>
                                <div class="form-group">
                                    <label>Nueva Categoría</label>
                                    <%=f.text_field :tagname, :class => "form-control"%>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>Usuario Predeterminado</label>
                                    <%=f.select :default_user_id, options_for_select(@receivers.collect{|r| [r.firstname+" "+r.lastname,r.id]}), {:include_blank => true}, {:class => "form-control"} %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <%=f.submit "Crear Categoría", :class => "btn btn-primary"%>
                                </div>
                            </div>
                        </div>
                        <%end%>
                    <%else%>
                        <%=form_for :request_tag, :url => {:action => "update_request_tag"} do |f|%>
                        <%=f.hidden_field :id, :value => @default_tag.id%>
                        <%=f.hidden_field :area_id, :value => @default_tag.area_id%>
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label>Editar Título</label>
                                    <%=f.text_field :tagname, :value => @default_tag.tagname ,:class => "form-control"%>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>Usuario Predeterminado</label>
                                    <%=f.select :default_user_id, options_for_select(@receivers.collect{|r| [r.firstname+" "+r.lastname,r.id]}, @default_tag.default_user_id), {:include_blank => true}, {:class => "form-control"} %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <%=f.submit "Editar Categoría", :class => "btn btn-primary"%>
                                </div>
                            </div>
                        </div>
                        <%end%>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</section>