 
 <!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "requests"%>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Nuevo Requerimiento
        <small><%=@area.areaname%></small>
    </h1>
    <ol class="breadcrumb">
        <li><%=link_to "Requerimientos", :controller => :requests, :action => :index%></li>
        <li><%=link_to "Seleccion de Área", :controller => :requests, :action => :area_for_request%></li>
        <li class="active">Creación de Requerimientos</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-8 col-md-offset-2">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Formulario de Creación de Requerimientos</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <%=form_for(@request, :url => {:controller => "requests", :action => "create_request"}, :html => { :multipart => true}) do |f|%>
                    <div class="box-body">
                        <%if @request.errors.any?%>
                            <div class="callout callout-warning">
                                <h4><%=pluralize(@request.errors.count,"error")%> no permitieron llevar a cabo la operacion</h4>
                                <ul>
                                    <%@request.errors.full_messages.each do |msg|%>
                                        <li><%= msg %></li>
                                    <%end%>
                                </ul>
                            </div>
                        <%end%>
                        <div class="form-group">
                            <%=f.hidden_field :areaid, :value => @area.id%>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>Categoría:</label>
                                <%=f.select :tagid, options_for_select(@area_tags.collect{|t| [t.tagname, t.id]}), {}, {:class => "form-control"}%>
                            </div>
                            <div class="col-sm-8 form-group">
                                <label>Título:</label>
                                <%=f.text_field :subject, :class => "form-control" %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>Prioridad:</label>
                                <%=f.select :priorityid, options_for_select(@priorities.collect{|p| [p.description+" - "+p.term_desc, p.id]}, 3), {},{:class =>"form-control"}%>
                            </div>
                        </div>
                        <div class="box-body pad">
                            <%=f.text_area :request, :id => "wysihtml5",:class => "wysihtml5", :placeholder => "Especificar Requerimiento ¿Cual es el problema a resolver? ¿Cómo esperas que sea resuelto?"%>
                        </div>
                        <div class="clearfix">
                            <%=render :partial => "attachment_button_partial", :locals => {:num => 1}%>
                            <%=render :partial => "request_attachment_partial", :locals => {:num => 1}%>
                        </div>
                        <div class="box-footer clearfix">
                            <div class="col-sm-3 pull-right">
                                <%=f.submit :value=> "Enviar Solicitud", :class => "btn btn-primary btn-lg"%>
                            </div>
                        </div>
                    </div><!-- /.box -->
                <%end%>
            </div>
        </div>
    </div>
</section><!-- /.content -->