 
 <!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu"%>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Solicitudes</h1>
            
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Formulario de Generacion de Solicitudes
                </div>
                <div class="panel-body">
                    <%if @request.errors.any?%>
                        <div class="alert alert-warning">
                            <%=pluralize(@request.errors.count,"error")%> no permitieron llevar a cabo la operacion 
                            <ul>
                                <%@request.errors.full_messages.each do |msg|%>
                                    <li><%= msg %></li>
                                <%end%>
                            </ul>
                        </div>
                    <%end%>
                    <div class="col-lg-8">
                        <%=form_for(@request, :url => {:controller => "requests", :action => "create_request"}) do |f|%>
                            <div class="form-group">
                                <%=f.hidden_field :userid, :value =>@user.id%>
                                <%=f.hidden_field :statusid, :value => "1"%>
                            </div>
                            <div class="form-group">
                                <label>Subject:</label>
                                <%=f.text_field :subject, :class => "form-control" %>
                            </div>
                            <div class="form-group">
                                <label>Area:</label>
                                <%=f.select :areaid, options_for_select(get_area_list().collect{|u| [u.areaname ,u.id]}), {}, {:class => "form-control"}%>
                            </div>
                            <div class="form-group">
                                <label>Prioridad:</label>
                                <%=f.select :priorityid, options_for_select(get_priority_list().collect{|p| [p.description, p.id]}), {},{:class =>"form-control"}%>
                            </div>
                            <div class="form-group">
                                <label>Fecha Límite</label>
                                <div class="input-group date" id="datetimepicker" data-date-format="YYYY/MM/DD">
                                    <%=f.text_field :duedate ,:class => "form-control"%>
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Solicitud:</label>
                                <%=f.text_area :request, :class => "redactor", :rows => 20, :cols => 60%>
                            </div>
                            <div class="form-group">
                                <%=f.submit :value=> "Enviar Solicitud", :class => "btn btn-default"%>
                            </div>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker({
            pickTime: false
        });
    });
</script>
