 
<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "requests"%>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Requerimientos Realizados por <%=@user.firstname+" "+@user.lastname%></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 form-group">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li <%=activate_tab(@active,"inprogress")%>>
                    <%=link_to "Requerimientos en Proceso", :controller => "requests", :action => "sent_requests", :params => {:f => "inprogress"}%>
                </li>
                <li <%=activate_tab(@active,"wconf")%>>
                    <%=link_to "En Espera de Confirmación", :controller => "requests", :action => "sent_requests", :params => {:f => "wconf"}%>
                </li>
                <li <%=activate_tab(@active,"solved")%>>
                    <%=link_to "Requerimientos Resueltos/Cancelados", :controller => "requests", :action => "sent_requests", :params => {:f => "solved"}%>
                </li>
                <li <%=activate_tab(@active,"unassigned")%>>
                    <%=link_to "Requerimientos Sin Asignar", :controller => "requests", :action => "sent_requests", :params => {:f => "unassigned"}%>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Listado de Requerimientos
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <%=render :partial => "sent_requests_partial", :locals => {:requests => @requests, :table => @table, :editable => @editable}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#sent-requests-table').dataTable();
});
</script>