  <!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "courses"%>

<section class="content-header no-margin">
    <h1>
        Agrupaciones de Cursos
        <small>Grupos de Cursos</small>
    </h1>
    <ol class="breadcrumb">
        <li><%=link_to "Cursos de Longbourn", :controller => :moodle_courses, :action => :index%></li>
        <li class="active">Grupos de Cursos</li>
    </ol>
</section>

<section class="content">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <%=link_to "Asignaci칩n de Grupos", :controller => :moodle_courses, :action => :index%>
                </li>
                <li>
                    <%=link_to "Listado de Cursos", :controller => :moodle_courses, :action => :courses_list%>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <section>
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <h3 class="box-title">Creaci칩n de Grupos</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h3>Grupos de Cursos</h3>
                                                <p>Los grupos de cursos ser치n utilizados para hacer seguimiento a los cursos de moodle. Mediante los grupos de cursos se considear치 las notas y asistencia correspondientes para todos los cursos del grupo en el caso de cada alumno, en lugar de para un curso en particular</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <%=form_tag :controller => "moodle_courses", :action => "create_group" do%>
                                                <div class="form-group">
                                                    <label>Agrupamiento de Cursos</label>
                                                    <%=text_field_tag :groupname, nil,{:placeholder => "Nombre de Grupo", :class => "form-control"}%>
                                                </div>
                                                <div class="pull-right">
                                                    <%=submit_tag "Crear Grupo", :class => "btn btn-primary"%>
                                                </div>
                                                <%end%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer clearfix">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="box box-warning">
                                    <div class="box-header">
                                        <h3 class="box-title">Grupos de Monitoreo</h3>
                                    </div>
                                    <div class="box-body">
                                        <table class="table table-striped" id="groups-table">
                                            <thead>
                                                <tr>
                                                    <th>Nombre Grupo</th>
                                                    <th style="text-align: center;"># Cursos</th>
                                                    <th style="text-align: center;">Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%@moodlegroups.each do |g|%>
                                                <tr>
                                                    <td><%=link_to g.groupname, :controller => "moodle_courses", :action => "show_group", :params => {:id => g.id}%></td>
                                                    <td style="text-align: center; width: 100px"><%=g.courses%></td>
                                                    <td style="text-align: center; width: 100px"><%=link_to "<i class='fa fa-times'></i>".html_safe, {action: "destroy_group", id: g.id}, method: :delete, data: {confirm: "Estas seguro?"}, :class => "btn btn-default"%></td>
                                                </tr>
                                                <%end%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).on('page:change', function () {
        $("#groups-table").dataTable();
    });
</script>