<div class="col-xs-6">
    <table class="table table-bordered">
        <tr>
            <th style="width:200px;">Curso</th>
            <td><%=course.coursename%></td>
        </tr>
        <tr>
            <th style="width:200px;">Profesor Asignado</th>
            <td><%=get_user_name(course.main_teacher_id)%></td>
        </tr>
        <tr>
            <th style="width:200px;">Descripción</th>
            <td><%=course.description%></td>
        </tr>
        <tr>
            <th style="width:200px;">Ubicación</th>
            <td><%=location_label(course.location_id)%></td>
        </tr>
    </table>
</div>
<div class="col-xs-6">
    <table class="table table-bordered">
        <tr>
            <th style="width:200px;">Nivel</th>
            <td><%=get_course_level(course.course_level_id)%></td>
        </tr>
        <tr>
            <th style="width:200px;">Plantilla</th>
            <td><%=get_template_name(course.course_template_id)%></td>
        </tr>
        <tr>
            <th style="width:200px;">Fecha de Inicio</th>
            <td><%=l(course.start_date,:format => "%d / %b / %Y")%></td>
        </tr>
        <tr>
            <th style="width:200px;">Sesiones</th>
            <td>
                <%=course.classroom_matching_id ? ClassroomMatching.find(course.classroom_matching_id).matching_label : "-"%>
            </td>
        </tr>
    </table>
</div>