<%=form_for :web_user, :url => {:action => :update_student} do |f|%>
<%=hidden_field_tag :courseid, courseid%>
<%=f.hidden_field :id, :value => @new_student.id%>
<div class="box box-primary">
	<div class="box-header">
		<h3 class="box-title">Registrar nuevo Alumno</h3>
	</div>
	<div class="box-body">
        <%if @new_student.errors.any?%>
        <div class="alert alert-warning alert-dismissable">
            <i class="fa fa-warning"></i>
            <%=pluralize(@new_student.errors.count,"errores")%> no permitieron llevar a cabo la operacion 
            <ul>
                <%@new_student.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
                <%end%>
            </ul>
        </div>
        <%end%>
		<div class="form-group">
			<label>Nombres</label>
			<%=f.text_field :firstname, :value => @new_student.firstname, :class => "form-control"%>
		</div>
		<div class="form-group">
			<label>Apellidos</label>
			<%=f.text_field :lastname, :value => @new_student.lastname, :class => "form-control"%>
		</div>
		<div class="form-group">
			<label>Rut</label>
			<%=f.text_field :rut, :value => @new_student.rut, :class => "form-control"%>
		</div>
		<div class="form-group">
			<label>E-Mail</label>
			<%=f.email_field :email, :value => @new_student.email, :class => "form-control"%>
		</div>
		<div class="form-group">
			<label>Empresa</label>
			<%=f.text_field :institution, :value => @new_student.institution, :class => "form-control"%>
		</div>
		<div class="form-group">
			<label>Departamento</label>
			<%=f.text_field :department, :value => @new_student.department, :class => "form-control"%>
		</div>
		<div class="form-group">
			<label>Telefono</label>
			<%=f.phone_field :phone, :value => @new_student.phone, :class => "form-control"%>
		</div>
		<div class="form-group">
			<label>Género</label><br>
			<%if @new_student.gender%>
			<div class="row">
				<div class="col-xs-6 col-xs-offset-1">
					<%=f.radio_button :gender, "male", :checked => @new_student.gender.include?("male") ? true : false%> Masculino
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-xs-offset-1" style="margin-top: 5px;">
					<%=f.radio_button :gender, "female", :checked => @new_student.gender.include?("female") ? true : false%> Femenino
				</div>
			</div>
			<%else%>
			<div class="row">
				<div class="col-xs-6 col-xs-offset-1">
					<%=f.radio_button :gender, "male" %> Masculino
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-xs-offset-1" style="margin-top: 5px;">
					<%=f.radio_button :gender, "female"%> Femenino
				</div>
			</div>
			<%end%>
		</div>
	</div>
	<div class="box-footer clearfix">
		<div class="col-xs-7">
		</div>
		<div class="pull-right">
			<%=f.submit "Editar", :class => "btn btn-primary"%>
		</div>
	</div>
</div>
<%end%>