<%if active == "staged"%>
<table class="table table-striped" id="courses-table">
    <thead>
        <tr>
            <th>Nombre Curso</th>
            <th style="width: 120px;">Modalidad</th>
            <th style="width: 80px;">Tipo</th>
            <th style="width: 80px;">Alumnos</th>
            <th style="width: 120px;">Fecha Inicio</th>
            <th style="width: 150px; text-align: center;">Acciones</th>
            <th style="width: 100px; text-align: center;">Iniciar Curso</th>
        </tr>
    </thead>
    <tbody>
        <%courses.each do |c|%>
        <tr>
            <td><%=link_to c.coursename, {:controller => "courses", :action => "show", :params => {:id => c.id}}%></td>
            <td><%=get_course_mode_label(c.mode)%></td>
            <td><%=get_course_type(c.course_type_id)%></td>
            <td><%=c.current_students_qty%> de <%=c.students_qty%></td>
            <td><%=c.start_date ? c.start_date.strftime("%d-%m-%Y") : "-"%></td>
            <td style="text-align:center;">
            	<div class="btn-group">
            		<%=link_to "Cancelar", {:controller => :courses, :action => :change_status, :params => {:id => c.id, :status => "cancel", :active => active}}, {:class => "btn btn-danger"}%>
            	</div>
            </td>
            <td style="text-align:center;">
        		<%=link_to "<i class='fa fa-play fa-lg'></i>".html_safe, {:controller => :courses, :action => :init_course_dialog, :params => {:courseid => c.id}}, {:class => "btn btn-success"}%>
            </td>
        </tr>
        <%end%>
    </tbody>
</table>
<%elsif active == "canceled"%>
<table class="table table-striped" id="courses-table">
    <thead>
        <tr>
            <th>Nombre Curso</th>
            <th style="width: 120px;">Modalidad</th>
            <th style="width: 80px;">Tipo</th>
            <th style="width: 80px;">Alumnos</th>
            <th style="width: 120px;">Fecha Inicio</th>
            <th style="width: 150px; text-align: center;">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <%courses.each do |c|%>
        <tr>
            <td><%=link_to c.coursename, {:controller => "courses", :action => "show", :params => {:id => c.id}}%></td>
            <td><%=get_course_mode_label(c.mode)%></td>
            <td><%=get_course_type(c.course_type_id)%></td>
            <td><%=c.current_students_qty%> de <%=c.students_qty%></td>
            <td><%=c.start_date ? c.start_date.strftime("%d-%m-%Y") : "-"%></td>
            <td style="text-align:center;">
            	<div class="btn-group">
            		<%=link_to "Revalidar", {:controller => :courses, :action => :change_status, :params => {:id => c.id, :status => "revalidar", :active => active}}, {:class => "btn bg-olive"}%>
            	</div>
            </td>
        </tr>
        <%end%>
    </tbody>
</table>
<%else #en produccion%>
<table class="table table-striped" id="courses-table">
    <thead>
        <tr>
            <th>Nombre Curso</th>
            <th style="width: 120px;">Modalidad</th>
            <th style="width: 80px;">Tipo</th>
            <th style="width: 80px;">Alumnos</th>
            <th style="width: 120px;">Fecha Inicio</th>
            <th style="width: 150px; text-align: center;">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <%courses.each do |c|%>
        <tr>
            <td><%=link_to c.coursename, {:controller => "courses", :action => "show", :params => {:id => c.id}}%></td>
            <td><%=get_course_mode_label(c.mode)%></td>
            <td><%=get_course_type(c.course_type_id)%></td>
            <td><%=c.current_students_qty%> de <%=c.students_qty%></td>
            <td><%=c.start_date ? c.start_date.strftime("%d-%m-%Y") : "-"%></td>
            <td style="text-align:center;">
            	<div class="btn-group">
            		<%=link_to "Cancelar", {:controller => :courses, :action => :change_status, :params => {:id => c.id, :status => "cancel", :active => active}}, {:class => "btn btn-danger"}%>
            	</div>
            </td>
        </tr>
        <%end%>
    </tbody>
</table>
<%end%>

<script type="text/javascript">
    $(document).on('page:change', function () {
        $("#courses-table").dataTable();
    });
</script>