<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "courses"%>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edición de Cursos Longbourn</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Datos del Curso
                </div>
                <div class="panel-body">
                    <%if @course.errors.any?%>
                        <div class="alert alert-warning">
                            <%=pluralize(@course.errors.count,"error")%> no permitieron llevar a cabo la operacion 
                            <ul>
                                <%@course.errors.full_messages.each do |msg|%>
                                    <li><%= msg %></li>
                                <%end%>
                            </ul>
                        </div>
                    <%end%>
                    <%=form_for @course, :url => {:controller => "courses", :action => "create"} do |f|%>
                    <%=f.hidden_field :id%>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Nombre del Curso</label>
                                <%=f.text_field :coursename, :class => "form-control"%>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Tipo de Curso</label>
                                <%=f.select :course_type_id, options_for_select(@types.collect{|p| [p.typename, p.id]}), {}, {:class => "form-control"}%>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Estudiantes</label>
                                <%=f.select :students_qty, options_for_select((1..20).step(1).collect{|q| ["#{q}",q]}), {}, {:class => "form-control"}%>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label>Descripcion</label>
                                <%=f.text_field :description, :class => "form-control"%>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Profesor</label>
                                <%=f.select :teacher_user_id, options_for_select(@teachers.collect{|t| [t.firstname+" "+t.lastname,t.id]}), {}, {:class => "form-control"}%>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Fecha de Inicio del Curso</label>
                                <%=f.date_field :start_date,:class => "form-control"%>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label>Dia 1</label>
                            <%=select_tag :first_weekday, options_for_select(weekday_options,get_course_feature(@course_features,"first_day")), {:class => "form-control"}%>
                        </div>
                        <div class="col-lg-2">
                            <label>Hora</label><br>
                            <div class="form-group bootstrap-timepicker">
                                <%=text_field_tag :hour_first_weekday, get_course_feature(@course_features,"first_day_hour"), {:class => "form-control", :id => "timepicker1"}%>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label>Dia 2</label>
                            <%=select_tag :second_weekday, options_for_select(weekday_options,get_course_feature(@course_features,"second_day")), {:class => "form-control"}%>
                        </div>
                        <div class="col-lg-2">
                            <label>Hora</label><br>
                            <div class="form-group bootstrap-timepicker">
                                <%=text_field_tag :hour_second_weekday, get_course_feature(@course_features,"second_day_hour"), {:class => "form-control", :id => "timepicker2"}%>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Modalidad del Curso</label>
                                <%=f.select :zoho_product_id, options_for_select(@products.collect{|p| [p["name"],p["item_id"]]}, @course.zoho_product_id), {:include_blank => true}, {:class => "form-control"}%>
                                <%=f.hidden_field :mode, :class => "form-control"%>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Nivel</label>
                                <%=f.select :course_level_id, options_for_select(@course_levels.collect{|l| [l.course_level,l.id]}), {}, {:class => "form-control"}%>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Ubicación</label>
                                <%=f.text_field :location, :class => "form-control"%>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <%=submit_tag "Editar Curso", :class => "btn btn-default"%>
                    </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$( "#course_zoho_product_id" ).click(function() {
  var text = $( "#course_zoho_product_id option:selected" ).text();
  $( "#course_mode" ).val( text );
});
</script>
<script type="text/javascript">
    $('#timepicker1').timepicker({
                minuteStep: 5,
                template: "dropdown",
                showMeridian: false,
                defaultTime: "current"
            });
</script>
<script type="text/javascript">
    $('#timepicker2').timepicker({
                minuteStep: 5,
                template: "dropdown",
                showMeridian: false,
                defaultTime: "current"
            });
</script>