<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "courses"%>
<section class="content-header">
    <h1>
        Creación de Cursos
        <small>Cursos para Venta</small>
    </h1>
    <ol class="breadcrumb">
        <li>Cursos de Longbourn</li>
        <li class="active">Nuevo Curso</li>
    </ol>
</section>

<section class="content">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="javascript:;">Datos Generales</a>
                </li>
                <li>
                    <%=link_to "Asignación de Profesor", :action => :assign_teacher, :params => {:id => @course.id}%>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <section>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <h3 class="box-title">Datos Generales del Curso</h3>
                                    </div>
                                    <div class="box-body">
                                        <%if @course.errors.any?%>
                                        <div class="alert alert-warning alert-dismissable">
                                            <i class="fa fa-warning"></i>
                                            <%=pluralize(@course.errors.count,"errores")%> no permitieron llevar a cabo la operacion 
                                            <ul>
                                                <%@course.errors.full_messages.each do |msg|%>
                                                    <li><%= msg %></li>
                                                <%end%>
                                            </ul>
                                        </div>
                                        <%end%>
                                        <%=form_for @course, :url => {:controller => :courses, :action => :update} do |f|%>
                                        <%=f.hidden_field :id%>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Nombre del Curso</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <%=f.text_field :coursename, :class => "form-control"%>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Descripcion del Curso</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <%=f.text_field :description, :class => "form-control"%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Ubicación</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <%=f.text_field :location, :class => "form-control"%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Tipo de Curso</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <%=f.select :course_type_id, options_for_select(@types.collect{|p| [p.typename, p.id]},1), {}, {:class => "form-control"}%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Cantidad de Estudiantes</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <%=f.number_field :students_qty, :class => "form-control"%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Modalidad</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                <%=f.select :zoho_product_id, options_for_select(@products.collect{|p| [p["name"],p["item_id"]]},@course.zoho_product_id), {:include_blank => true}, {:class => "form-control"}%>
                                                <%=f.hidden_field :mode, :class => "form-control"%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Nivel</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                <%=f.select :course_level_id, options_for_select(@course_levels.collect{|l| [l.course_level,l.id]}, @course.course_level_id), {:include_blank => true}, {:class => "form-control"}%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Libro / Plantilla</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <%=render :partial => "template_selector", :locals => {:templates => @templates, :selected => @course.course_template_id}%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Fecha de Inicio</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <%=f.date_field :start_date,:class => "form-control"%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Dia 1 / Hora</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="form-group">
                                                <%=select_tag :first_weekday, options_for_select(weekday_options,course_feature_value(@course_features,"first_day").to_i), {:class => "form-control"}%>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="form-group bootstrap-timepicker">
                                                    <div class="input-group">
                                                    <%=text_field_tag :hour_first_weekday, course_feature_value(@course_features,"second_day_hour"), {:class => "form-control", :id => "timepicker1"}%>
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-clock-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Dia 2 / Hora</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="form-group">
                                                    <%=select_tag :second_weekday, options_for_select(weekday_options,course_feature_value(@course_features,"second_day").to_i), {:class => "form-control"}%>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="form-group bootstrap-timepicker">
                                                    <div class="input-group">
                                                        <%=text_field_tag :hour_second_weekday, course_feature_value(@course_features,"second_day_hour"), {:class => "form-control", :id => "timepicker2"}%>
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-clock-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4 col-xs-offset-4">
                                                <div class="pull-right">
                                                <%=f.submit "Crear Curso", :class => "btn btn-primary btn-lg"%>
                                                </div>
                                            </div>
                                        </div>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<%=form_tag template_selector_options_courses_path, :remote => true, :id => "template_options_form" do%>
<%=hidden_field_tag :courselevel%>
<%end%>

<script>
$( "#course_zoho_product_id" ).change(function() {
  var text = $( "#course_zoho_product_id option:selected" ).text();
  $( "#course_mode" ).val( text );
});
$( "#course_course_level_id" ).change(function(){
    var level_id = $("#course_course_level_id option:selected").val();
    $( "#courselevel" ).val(level_id);
    $( "#template_options_form" ).submit();

});
</script>
<script type="text/javascript">
$(function() {
    //Timepicker
    $("#timepicker1").timepicker({
        showInputs: false,
        showMeridian: false 
    });
    $("#timepicker2").timepicker({
        showInputs: false,
        showMeridian: false 
    });
});
</script>
