<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "courses"%>

<section class="content-header">
    <h1>
        Cursos de Longbourn
        <small>Listado de Cursos</small>
    </h1>
    <ol class="breadcrumb">
        <li>Cursos de Longbourn</li>
        <li class="active">Listado de Cursos</li>
    </ol>
</section>

<section class="content">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="<%=activate_menu_item("hidden",@active)%>">
                    <%=link_to "Cursos Inactivos", {:controller => :courses, :action => :index, :params => {:opt => "hidden"}}%>
                </li>
                <li class="<%=activate_menu_item("active",@active)%>">
                    <%=link_to "Cursos en Venta", {:controller => :courses, :action => :index, :params => {:opt => "active"}}%>
                </li>
                <li class="<%=activate_menu_item("desarrollo",@active)%>">
                    <%=link_to "Cursos en Desarrollo", {:controller => :courses, :action => :index, :params => {:opt => "desarrollo"}}%>
                </li>
                <li class="<%=activate_menu_item("finished",@active)%>">
                    <%=link_to "Cursos Finalizados", {:controller => :courses, :action => :index, :params => {:opt => "finished"}}%>
                </li>
                <li class="<%=activate_menu_item("cancel",@active)%>">
                    <%=link_to "Cursos Cancelados", {:controller => :courses, :action => :index, :params => {:opt => "cancel"}}%>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <section id="new">
                        <h4 class="page-header">Listado de Cursos</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <%@courses.each do |course|%>
                                    <div class="row">
                                        <div class="col-xs-10 col-xs-offset-1">
                                            <div class="box box-info">
                                                <div class="box-header">
                                                    <h3 class="box-title"><%=course.coursename%></h3>
                                                </div>
                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <table class="table">
                                                                <tr>
                                                                    <th>Descripcion</th>
                                                                    <td><%=course.description%></td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Modalidad</th>
                                                                    <td><%=get_course_mode_label(course.mode)%></td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Ubicacion</th>
                                                                    <td><%=course.location%></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <table class="table">
                                                                <tr>
                                                                    <th>Alumnos</th>
                                                                    <td><%=course.current_students_qty%> de <%=course.students_qty%>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Profesor</th>
                                                                    <td><%=user_name(course.main_teacher_id)%></td>
                                                                </tr>
                                                                 <tr>
                                                                    <th>Inicio</th>
                                                                    <td><%=l(course.start_date, :format => "%d de %b del %Y")%></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <table class="table">
                                                                <tr>
                                                                    <th>Nivel</th>
                                                                    <td><%=get_course_level(course.course_level_id)%></td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Libro</th>
                                                                    <td><%=template_name(course.course_template_id)%></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="box-footer clearfix">
                                                    <div class="pull-right">
                                                        <%=link_to "<i class='fa fa-eye fa-lg'></i> Ver Detalles".html_safe, {:controller => :courses, :action => :show, :params => {:id => course.id}}, {:class => "btn btn-primary"}%>
                                                        <%=render :partial => "summit_course_options", :locals => {:active => @active, :course => course}%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <%end%>
                                <div class="clearfix">
                                    <div class="pull-right">
                                        <%=paginate @courses%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
