<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "courses"%>

<section class="content-header">
    <h1>
        Cursos de Longbourn
        <small>Listado de Cursos</small>
    </h1>
    <ol class="breadcrumb">
        <li>Cursos de Longbourn</li>
        <li class="active">Listado de Cursos</li>
    </ol>
</section>

<section class="content">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="<%=activate_menu_item("ongoing",@active)%>">
                    <%=link_to "Cursos en Desarrollo", {:controller => :courses, :action => :index, :params => {:opt => "ongoing"}}%>
                </li>
                <li class="<%=activate_menu_item("staged",@active)%>">
                    <%=link_to "Cursos en Venta", {:controller => :courses, :action => :index, :params => {:opt => "staged"}}%>
                </li>
                <li class="<%=activate_menu_item("canceled",@active)%>">
                    <%=link_to "Cursos Cancelados", {:controller => :courses, :action => :index, :params => {:opt => "canceled"}}%>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <section>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-primary">
                                    <div class="box-header">
                                        <h3 class="box-title">Listado de Cursos</h3>
                                    </div>
                                    <div class="box-body table-responsive">
                                        <table class="table table-striped" id="courses-table">
                                            <thead>
                                                <tr>
                                                    <th>Nombre Curso</th>
                                                    <th style="width: 120px;">Modalidad</th>
                                                    <th style="width: 80px;">Tipo</th>
                                                    <th style="width: 80px;">Alumnos</th>
                                                    <th style="width: 130px;">Estado</th>
                                                    <th style="width: 120px;">Fecha Inicio</th>
                                                    <th style="width: 230px; text-align: center;">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%@courses.each do |c|%>
                                                <tr>
                                                    <td><%=link_to c.coursename, {:controller => "courses", :action => "show", :params => {:id => c.id}}%></td>
                                                    <td><%=get_course_mode_label(c.mode)%></td>
                                                    <td><%=get_course_type(c.course_type_id)%></td>
                                                    <td><%=c.current_students_qty%> de <%=c.students_qty%></td>
                                                    <td><%=get_course_status(c.course_status_id)%></td>
                                                    <td><%=c.start_date ? c.start_date.strftime("%d-%m-%Y") : "-"%></td>
                                                    <td style="text-align: center;">
                                                        <div class="btn-group">
                                                            <%=link_to "Iniciar", {}, {:class => "btn btn-default"}%>
                                                            <%=link_to "Editar" ,{:controller => "courses", :action => "edit", :params => {:id => c.id}}, {:class => "btn btn-default"}%>
                                                            <%=link_to "Cancelar", {:controller => "courses", :action => "cancel_course", :params => {:id => c.id}}, {:class => "btn btn-default", method: :post,data: {confirm: "Estas seguro?"}}%>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <%end%>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="box-footer clearfix">
                                        <div class="pull-right">
                                            <%=paginate @courses%>
                                        </div>
                                    </div><!-- box-footer -->
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function() {
        $("#courses-table").dataTable({
            "bDestroy": false,
            "bRetrieve": false
        });
    });
</script>