<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "courses"%>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Creación de Cursos Longbourn</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Datos de Nuevo Curso
                </div>
                <div class="panel-body">
                    <%=form_tag :controller => "courses", :action => "create" do%>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Nombre del Curso</label>
                                <%=text_field_tag :coursename, "",:class => "form-control"%>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Tipo de Curso</label>
                                <%=select_tag :course_type_id, options_for_select(@types.collect{|p| [p.typename, p.id]},1), {:class => "form-control"}%>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                            <label>Descripcion</label>
                            <%=text_field_tag :description, "", :class => "form-control"%>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Fecha de Inicio del Curso</label>
                                <%=date_field_tag :start_date, Date.today ,:class => "form-control"%>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label>Dia 1</label>
                            <%=select_tag :first_weekday, options_for_select(weekday_options,"Lunes"), {:class => "form-control"}%>
                        </div>
                        <div class="col-lg-2">
                            <label>Hora</label><br>
                            <%=text_field_tag :hour_first_weekday, "", :class => "form-control"%>
                        </div>
                        <div class="col-lg-2">
                            <label>Dia 2</label>
                            <%=select_tag :second_weekday, options_for_select(weekday_options,"Lunes"), {:class => "form-control"}%>
                        </div>
                        <div class="col-lg-2">
                            <label>Hora</label><br>
                            <%=text_field_tag :hour_second_weekday, "", :class => "form-control"%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Modalidad del Curso</label>
                                <%=select_tag :productpriceid, options_for_select(@products.collect{|p| [p["name"],p["item_id"]]}), {:include_blank => true, :class => "form-control"}%>
                                <%=hidden_field_tag :mode, "", :class => "form-control"%>
                                <%=hidden_field_tag :products, @products%>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Ubicación</label>
                                <%=text_field_tag :location, "", :class => "form-control"%>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <%=submit_tag "Enviar Solicitud", :class => "btn btn-default"%>
                    </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$( "#productpriceid" ).click(function() {
  var text = $( "#productpriceid option:selected" ).text();
  $( "#mode" ).val( text );
});
</script>