<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "courses"%>
<section class="content-header">
    <h1>
        Creaci贸n de Cursos
        <small>Cursos para Venta</small>
    </h1>
    <ol class="breadcrumb">
        <li>Cursos de Longbourn</li>
        <li class="active">Nuevo Curso</li>
    </ol>
</section>

<section class="content">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="javascript:;">Datos Generales</a>
                </li>
                <li>
                    <a href="javascript:;">Asignaci贸n de Profesor</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <section>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <h3 class="box-title">Datos Generales del Curso</h3>
                                        <div class="box-tools">
                                            <div class="pull-right">
                                                <%=link_to "Importaci贸n de Cursos", {:controller => :courses, :action => :import_courses}, {:class => "btn btn-default"}%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <%if @course.errors.any?%>
                                        <div class="alert alert-warning alert-dismissable">
                                            <i class="fa fa-warning"></i>
                                            <%=pluralize(@course.errors.count,"errores")%> no permitieron llevar a cabo la operacion 
                                            <ul>
                                                <%@course.errors.full_messages.each do |msg|%>
                                                    <li><%= msg %></li>
                                                <%end%>
                                            </ul>
                                        </div>
                                        <%end%>
                                        <%=form_for @course, :url => {:controller => "courses", :action => "create"} do |f|%>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Nombre del Curso</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <%=f.text_field :coursename, :class => "form-control"%>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Descripcion del Curso</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <%=f.text_field :description, :class => "form-control"%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Ubicaci贸n</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <%=f.text_field :location, :class => "form-control"%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Tipo de Curso</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <%=f.select :course_type_id, options_for_select(@types.collect{|p| [p.typename, p.id]}), {}, {:class => "form-control"}%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Sesiones Por Semana</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <%=f.select :sessions_per_week, options_for_select((1..6).step(1).collect{|p| [p, p]},2), {}, {:class => "form-control"}%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Cantidad de Estudiantes</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <%=f.select :students_qty, options_for_select((1..20).step(1).collect{|s| [s,s]}), {}, {:class => "form-control"}%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Modalidad</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                <%=f.select :mode, options_for_select(@modes.collect{|p| [p.mode_name,p.id]}), {:include_blank => true}, {:class => "form-control"}%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Producto</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <%=render :partial => "product_selector", :locals => {:products => @products, :selected => nil}%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Nivel</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                <%=f.select :course_level_id, options_for_select(@course_levels.collect{|l| [l.course_level,l.id]}), {:include_blank => true}, {:class => "form-control"}%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Libro / Plantilla</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <%=render :partial => "template_selector", :locals => {:templates => @templates, :selected => nil}%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group pull-right">
                                                    <label>Fecha de Inicio</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <%=f.date_field :start_date,:class => "form-control"%>
                                                </div>
                                            </div>
                                        </div>
                                        <%=render :partial => "sessions_per_week_inputs", :locals => {:per_week => @course.sessions_per_week ? @course.sessions_per_week : 2, :week_sessions => nil}%>
                                        <div class="row">
                                            <div class="col-xs-4 col-xs-offset-4">
                                                <div class="pull-right">
                                                <%=f.submit "Crear Curso", :class => "btn btn-primary btn-lg"%>
                                                </div>
                                            </div>
                                        </div>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<%=form_tag template_selector_options_courses_path, :remote => true, :id => "template_options_form" do%>
<%=hidden_field_tag :courselevel%>
<%end%>
<%=form_tag product_selector_options_courses_path, :remote => true, :id => "product_options_form" do%>
<%=hidden_field_tag :coursemode%>
<%end%>
<%=form_tag sessions_per_week_inputs_courses_path, :remote => true, :id => "sessions_per_week_form" do%>
<%=hidden_field_tag :sessions_pw%>
<%end%>

<script>
$( "#course_course_level_id" ).change(function(){
    var level_id = $("#course_course_level_id option:selected").val();
    $( "#courselevel" ).val(level_id);
    $( "#template_options_form" ).submit();

});
$( "#course_mode" ).change(function(){
    var mode = $("#course_mode option:selected").val();
    $( "#coursemode" ).val(mode);
    $( "#product_options_form" ).submit();
});
$( "#course_sessions_per_week" ).change(function(){
    var sessions = $("#course_sessions_per_week option:selected").val();
    $( "#sessions_pw" ).val(sessions);
    $( "#sessions_per_week_form" ).submit();
});
</script>