<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "courses"%>
<section class="content-header">
    <h1>
        Creación de Cursos
        <small>Sesiones del Curso</small>
    </h1>
    <ol class="breadcrumb">
        <li>Cursos de Longbourn</li>
        <li>Nuevo Curso</li>
        <li class="active">Información de Sesiones del Curso</li>
    </ol>
</section>

<section class="content">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li>
                    <%=link_to "Datos Generales", :controller => :courses, :action => :edit, :params => {:id => @course.id}%>
                </li>
                <li class="active">
                    <a href="javascript:;">Sesiones del Curso</a>
                </li>
                <li>
                    <%=link_to "Asignación de Profesor", :action => :assign_teacher, :params => {:id => @course.id}%>
                </li>
                <li><%=link_to "Ver Curso", :controller => :courses, :action => :show, :params => {:id => @course.id}%>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <section>
                        <div class="row">
                            <div class="col-xs-6">
                                <%=form_tag :controller => :courses, :action => :modify_session_data do%>
                                <%=hidden_field_tag :courseid, @course.id%>
                                <div class="box box-info">
                                    <div class="box-header">
                                        <h3 class="box-title">Sesiones de Curso: <%=@course.coursename%></h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <%if flash[:notice]%>
                                                <div class="alert alert-danger">
                                                    <i class="fa fa-warning"></i>
                                                    <p><%=flash[:notice].html_safe%></p>
                                                </div>
                                                <%end%>
                                                <%if @current_matching%>
                                                <div class="alert alert-info">
                                                    <p>Este curso cuenta con sesiones desde el <strong><%=l(@course.start_date, :format => "%d de %B del %Y")%></strong> hasta el <strong><%=l(@course.end_date, :format => "%d de %B del %Y")%></strong></p>
                                                    <p>Sesiones del curso: <strong><%=@current_matching.matching_label%></strong></p>
                                                </div>
                                                <%end%>
                                                <div class="form-group bootstrap-timepicker">
                                                    <label>Hora Tentativa</label>
                                                    <div class="input-group">
                                                        <%=text_field_tag :session_hour, nil , {:class => "form-control", :id => "timepicker"}%>
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-clock-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Sesiones del Curso</label>
                                                    <%=select_tag :classroom_match, options_for_select(@matchings.collect{|m| [m.matching_label, m.id]}), {:class => "form-control", :include_blank => true}%>
                                                </div>
                                                <div class="form-group">
                                                    <label>Fecha de Inicio del Curso</label>
                                                    <%=date_field_tag :start_date, nil, :class => "form-control", :min => Date.today()%>
                                                </div>
                                                <%=render :partial => "sessions_warning_partial", :locals => {:courses => @p_colitions, :end_date => @end_date}%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer clearfix">
                                        <div class="">
                                            <%=submit_tag "Guardar Configuracion", :class => "btn btn-success btn-lg pull-right"%>
                                        </div>
                                    </div>
                                </div>
                                <%end%>
                            </div>
                            <div class="col-xs-6">
                                <%=render :partial => "session_data_alternatives", :locals => {:alts => @alternatives}%>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<%=form_tag session_data_date_warning_courses_path, :remote => true, :id => "session_data_warning_form" do%>
<%=hidden_field_tag :selected_match%>
<%=hidden_field_tag :selected_date%>
<%=hidden_field_tag :courseid, @course.id%>
<%end%>
<script>
$( "#classroom_match" ).change(function(){
    var sessions = $("#classroom_match option:selected").val();
    $( "#selected_match" ).val(sessions);
    $( "#session_data_warning_form" ).submit();
});
$( "#start_date" ).change(function(){
    var sessions = $("#start_date").val();
    $( "#selected_date" ).val(sessions);
    $( "#session_data_warning_form" ).submit();
});
</script>
