<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "courses"%>
<section class="content-header no-margin">
    <h1>
        Detalles de Curso
        <small><%=@course.coursename%></small>
    </h1>
    <ol class="breadcrumb">
        <li><%=link_to "Cursos de Longbourn", :controller => :courses, :action => :index%></li>
        <li class="active">Detalles de Curso</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-xs-9">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Información General: <%=@course.coursename%></h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="small-box bg-blue">
                                <%if @teacher%>
                                    <%=image_tag user_avatar(@teacher.id)%>
                                    <a href="#" class="small-box-footer"><strong>Profesor:</strong> <%=@teacher.name%></a>
                                <%else%>
                                    <%=image_tag "default_profile_pic.jpg"%>
                                    <a href="#" class="small-box-footer"><strong>Profesor:</strong> Sin Definir</a>
                                <%end%>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <table class="table table-bordered">
                                <tr>
                                    <td style="width: 200px;"><b>Descripción</b></td>
                                    <td><%=@course.description%></td>
                                </tr>
                                <tr>
                                    <td><b>Nivel del Curso</b></td>
                                    <td><%=get_course_level(@course.course_level_id)%></td>
                                </tr>
                                <tr>
                                    <td><b>Modalidad</b></td>
                                    <td><%=get_course_mode_label(@course.mode)%></td>
                                </tr>
                                <tr>
                                    <td><strong>Max. Estudiantes</strong></td>
                                    <td><%=@course.students_qty%></td>
                                </tr>
                                <tr>
                                    <td><strong>Plantilla / Libro</strong></td>
                                    <td><%=get_template_name(@course.course_template_id)%></td>
                                </tr>
                                <tr>
                                    <td><b>Tipo de Curso</b></td>
                                    <td><%=get_course_type(@course.course_type_id)%></td>
                                </tr>
                                <tr>
                                    <td><b>Estado del Curso</b></td>
                                    <td><%=get_course_status(@course.course_status_id)%></td>
                                </tr>
                                <tr>
                                    <td><b>Fecha de Inicio</b></td>
                                    <td><%=@course.start_date.strftime("%d-%m-%Y")%></td>
                                </tr>
                                <tr>
                                    <td><b>Ubicación</b></td>
                                    <td><%=@course.location%></td>
                                </tr>
                                <tr>
                                    <td><b>ID Web de Estudiantes</b></td>
                                    <td><%=@course.moodleid%></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box-footer clearfix">
                    
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">Horario de Clases</h3>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Día</th>
                                <th>Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%@week_sessions.each do |ws|%>
                            <tr>
                                <td><%=week_day(ws.day_number)%></td>
                                <td><%=ws.session_start_hour%></td>
                            </tr>
                            <%end%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Listado de Alumnos</h3>
                </div>
                <div class="box-body">
                    <%if @course.students_qty < @course.current_students_qty%>
                    <div class="alert alert-warning alert-dismissable">
                        <i class="fa fa-warning"></i>
                        <h4>Capacidad de Usuarios Sobrepasada</h4>
                        <p>El curso actualmente cuenta con <strong><%=@course.current_students_qty - @course.students_qty%></strong> alumnos por sobre su capacidad.</p>
                    </div>
                    <%end%>
                    <table class="table table-striped" id ="enroled-students">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Género</th>
                                <th>Telefono</th>
                                <th style="text-align:center;">Habilitado en Moodle</th>
                                <th style="text-align: center; width: 120px;">Remover</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%if @students.blank?%>
                            <tr>
                                <td colspan="6">No hay usuarios registrados a la fecha.</td>
                            </tr>
                            <%else%>
                                <%@students.each do |s|%>
                                <tr>
                                    <td><%=s.firstname+" "+s.lastname%></td>
                                    <td><%=s.email%></td>
                                    <td><%=s.gender%></td>
                                    <td><%=s.phone%></td>
                                    <td style="text-align:center;"><%=s.moodle_enabled ? "<i class='fa fa-check fa-lg'></i>".html_safe : "<i class='fa fa-times fa-lg'></i>".html_safe%></td>
                                    <td style="text-align:center;">
                                        <%=link_to "<i class='fa fa-times-circle-o fa-lg'></i>".html_safe, {:controller => :courses, :action => :enrolement_management, :params => {:studentid => s.id, :courseid => @course.id, :unenrol => 1}}, {:class => "btn btn-circle btn-danger"}%>
                                    </td>
                                </tr>
                                <%end%>
                            <%end%>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="pull-right">
                        <%=link_to "Agregar Alumnos", {:controller => :courses, :action => :course_students, :params => {:courseid => @course.id}}, {:class => "btn btn-primary"}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
