<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "sales"%>
<section class="content-header">
    <h1>
        Promociones de Longbourn
        <small>Listado de Promociones</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active">Promociones</li>
    </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Nueva Promocion</h3>
				</div>
				<%=form_for :promotion, :url => {:controller => :sales, :action  => :create_promotion} do |f|%>
				<div class="box-body">
                    <%if @new_promotion.errors.any?%>
                        <div class="callout callout-warning">
                            <h4><%=pluralize(@new_promotion.errors.count,"error")%> no permitieron llevar a cabo la operacion</h4>
                            <ul>
                                <%@new_promotion.errors.full_messages.each do |msg|%>
                                    <li><%= msg %></li>
                                <%end%>
                            </ul>
                        </div>
                    <%end%>
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<label>Nombre Completo</label>
								<%=f.text_field :fullname, :value => @new_promotion.nil? ? nil : @new_promotion.fullname, :class => "form-control"%>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group">
								<label>Descripción</label>
								<%=f.text_field :description, :value => @new_promotion.nil? ? nil : @new_promotion.description, :class => "form-control"%>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label>Nombre Corto</label>
								<%=f.text_field :shortname, :value => @new_promotion.nil? ? nil : @new_promotion.shortname, :class => "form-control"%>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label>Descuento Asociado</label>
								<%=f.select :discount_index, options_for_select((0..25).step(5).collect{|d| ["#{d}%",d]}, @new_promotion.nil? ? "" : @new_promotion.discount_index), {},{:class => "form-control"}%>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label>Fecha de Inicio</label>
								<%=f.date_field :start_date, :value => @new_promotion.nil? ? nil : @new_promotion.start_date, :class => "form-control"%>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label>Fecha de Término</label>
								<%=f.date_field :end_date, :value => @new_promotion.nil? ? nil : @new_promotion.end_date, :class => "form-control"%>
							</div>
						</div>
					</div>
				</div>
				<div class="box-footer clearfix">
					<div class="pull-right">
						<%=f.submit "Crear Promocion", :class => "btn btn-primary"%>
					</div>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</section>