<div class="col-md-6">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre grupo</th>
                <th style="text-align:center;">Último Reporte</th>
                <th style="text-align:center;">Ver Reportes Historicos</th>
            </tr>
        </thead>
        <tbody>
            <%groups.each do |g|%>
                <tr>
                    <td><%=link_to g.groupname, :controller => "moodle_courses", :action => "show_group", :params => {:id => g.id}%></td>
                    <td style="text-align:center;"><%=link_to (image_tag "pdf_icon.png", :size => "30x30"), {:controller => "reports", :action => "course_group_report", :params => {:id => g.id, :format => "pdf"}}, :target => "_blank"%></td>
                    <td style="text-align:center;"><%=link_to "<i class='fa fa-clock-o'></i>".html_safe, {:controller => "reports", :action => "course_groups", :params => {:id => g.id, :opt => "groups"}}, {:class => "btn btn-default btn-circle"}%></td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>
<%if reports%>
<div class="col-lg-6">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre Grupo</th>
                <th>Fecha</th>
                <th>Reporte</th>
            </tr>
        </thead>
        <tbody>
            <%reports.each do |r|%>
                <tr>
                    <td><%=get_groupname(r.groupid)%></td>
                    <td><%=r.created_at.strftime("%d-%m-%Y")%></td>
                    <td style="text-align:center;"><%=link_to (image_tag "pdf_icon.png", :size => "30x30"), {:controller => "reports", :action => "course_group_report", :params => {:id => r.id, :date => r.created_at, :format => "pdf"}}, :target => "_blank"%></td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>
<%end%>