
 <!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "reports"%>

<section class="content-header no-margin">
    <h1>
        Reportes
        <small>Clientes de Longbourn</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active">Reportes</li>
    </ol>
</section>

<section class="content">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#" data-toggle="tab">Clientes Longbourn</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <section id="new">
                        <h4 class="page-header">Clientes Longbourn</h4>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Empresa</th>
                                            <th style="text-align: center; width: 180px;">Departamentos</th>
                                            <th style="text-align: center; width: 180px;">Cursos</th>
                                            <th style="text-align: center; width: 150px;">Estudiantes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%@clients.each do |client|%>
                                            <tr>
                                                <td><%=link_to client.institution, :controller => 'reports', :action => 'courses', :params => {:group_filter => "1", :institution => client.institution}%></td>
                                                <td style="text-align: center"><%=client.departments%></td>
                                                <td style="text-align: center"><%=client.courses%></td>
                                                <td style="text-align: center"><%=client.users%></td>
                                            </tr>
                                        <%end%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
