<!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "reports"%>

<section class="content-header no-margin">
    <h1>
        Reportes
        <small>Reportes por Curso</small>
    </h1>
    <ol class="breadcrumb">
        <li><%=link_to "Reportes", :controller => :reports, :action => :clients%></li>
        <li><%=@course.coursename%></li>
        <li class="active">Miembros Por Curso</li>
    </ol>
</section>

<section class="content">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Miembros por Curso</a></li>
                <li><%=link_to 'Descargar Todos', {:controller => :reports, :action => :course_bulk_user_reports, :params => {:courseid => @course.moodleid}}, :target => "_blank"%></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <section>
                        <h4 class="page-header">Miembros por Curso: <%=@course.coursename%></h4>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Curso</th>
                                            <th style="text-align: center">Empresa</th>
                                            <th style="text-align: center">Departamento</th>
                                            <th>Curso</th>
                                            <th style="text-align: center">Reporte</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%@members.each do |member|%>
                                            <tr>
                                                <td><%=member.name.to_s%></td>
                                                <td style="text-align: center"><%=member.institution%></td>
                                                <td style="text-align: center"><%=member.department%></td>
                                                <td><%=@course.coursename%></td>
                                                <td style="text-align: center"><%=link_to (image_tag "pdf_icon.png", :size => "30x30"), {:controller => "reports", :action => "user_report", :params => {:user_id => member.id, :course_id => @course.moodleid, :format => "pdf"}}, :target => "_blank"%></td>
                                            </tr>
                                        <%end%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

