
<!-- Barra de navegacion superior -->
<%= render "shared_partials/navbar"%>

<div class="container-fluid">
  <div class="row">
    <!-- Barra de navegacion izquierda -->
    <%= render "shared_partials/sidebar"%>


    <div class="col-sm-8 col-sm-offset-4 col-md-10 col-md-offset-2 main">
      	<div class="row">
	      	<h1 class="page-header">Cursos de Longbourn</h1>
	      	<div class="col-md-4">
		      	<%=form_tag('courses') do%>
			  		<div class="input-group">
				      <%=text_field_tag "course_name", nil, class: "form-control search-box", placeholder: "Buscar por nombre del Curso" %>
				      <span class="input-group-btn">
				      	<%=submit_tag "Buscar", class: "btn btn-default"%>
				      </span>
			  		</div>
				<%end%>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="table-responsive">
					<table class="table table-striped courses-table">
						<thead>
							<tr>
								<th>Nombre del Curso</th>
								<th>Nombre Abreviado</th>
								<th>Fecha de Inicio</th>
							</tr>
						</thead>
						<tbody>

						<%@courses.each do |course|%>
							<tr>
								<td><%=link_to course.fullname, :controller => 'reports', :action => 'course_members', :params => {:course_id => course.id}%></td>
								<td><%=course.shortname%></td>
								<td><%=DateTime.strptime(course.startdate.to_s,"%s")%></td>
							</tr>
						<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<%=paginate @courses %>
			</div>
		</div>
		</div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>