 
 <!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "reports"%>

<section class="content-header no-margin">
    <h1>
        Reportes
        <small>Reportes por Grupo</small>
    </h1>
    <ol class="breadcrumb">
        <li><%=link_to "Reportes", :controller => :reports, :action => :clients%></li>
        <li class="active">Reportes por Grupo</li>
    </ol>
</section>


<section class="content">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li <%=activate_tab("1",@selected)%>><%=link_to "Por Curso", :controller => "reports", :action => "courses", :params => {:institution => @groups.first().institution, :group_filter => "1"}%></li>
                <li <%=activate_tab("2",@selected)%>><%=link_to "Por Departamento", :controller => "reports", :action => "courses", :params => {:institution => @groups.first().institution, :group_filter => "2"}%></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <section>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th style="text-align: center">Cliente</th>
                                            <th style="text-align: center"># Alumnos</th>
                                            <th style="text-align: center">Reporte</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%@groups.each do |group|%>
                                            <tr>
                                                <td><%=link_to group.fullname, :controller => "reports", :action => "members", :params => {:filter => @selected, :fullname => group.fullname, :institution => group.institution} %></td>
                                                <td style="text-align: center"><%=group.institution%></td>
                                                <td style="text-align: center"><%=group.alumnos%></td>
                                                <td style="text-align: center"><%=link_to (image_tag "pdf_icon.png", :size => "30x30"), {:controller => "reports", :action => "group_report", :params => {:institution => group.institution, :fullname => group.fullname, :filter => @selected, :format => "pdf"}}, :target => "_blank"%></td>
                                            </tr>
                                        <%end%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>