 
 <!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "reports"%>

<section class="content-header no-margin">
    <h1>
        Reportes
        <small>Reportes por Grupo</small>
    </h1>
    <ol class="breadcrumb">
        <li><%=link_to "Reportes", :controller => :reports, :action => :clients%></li>
        <li class="active">Reportes por Grupo</li>
    </ol>
</section>


<section class="content">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li <%=activate_tab("1",@selected)%>><%=link_to "Por Curso", :controller => "reports", :action => "courses", :params => {:institution => @groups.first().institution, :group_filter => "1"}%></li>
                <li <%=activate_tab("2",@selected)%>><%=link_to "Por Departamento", :controller => "reports", :action => "courses", :params => {:institution => @groups.first().institution, :group_filter => "2"}%></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <section>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-primary">
                                    <div class="box-header">
                                        <h3 class="box-title">Cursos: <%=@institution%></h3>
                                    </div>
                                    <div class="box-body">
                                        <%=render :partial => "report_groups_table", :locals => {:groups => @groups, :selected => @selected}%>
                                    </div>
                                    <div class="box-footer clearfix">
                                        <div class="pull-right">
                                            <%=paginate @groups%>
                                        </div>
                                    </div><!-- box-footer -->
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>