
<!-- Barra de navegacion superior -->
<%= render "shared_partials/navbar"%>


<div class="container-fluid">
  <div class="row">
    <!-- Barra de navegacion izquierda -->
    <%= render "shared_partials/sidebar"%>


    <div class="col-sm-8 col-sm-offset-4 col-md-10 col-md-offset-2 main">
    	<h1 class="page-header">Cursos Por Clientes - <%=@courses.first().institution%></h1>
    	<div class="row">
    		<div class="col-sm-3 col-sm-offset-9 col-md-3 col-md-offset-9">
    			<%=form_for :course_filter, :url => 'courses', :html => {:id => "filter_form"}, method: 'get' do |f|%>
	    			<%=f.hidden_field :institution, :value => @courses.first().institution %>
	    			<label>Filtrar por</label>
	    			<%=f.select :value, options_for_select({"Curso" => "1", "Departamento" => "2"}, @selected), {:include_blank => false} ,:onchange => "$('#filter_form').submit();"%>
	    		<%end%>
    		</div>
    	</div>
    	<div class="row">
	     	<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Cliente</th>
							<th>Alumnos</th>
						</tr>
					</thead>
					<%@courses.each do |course|%>
						<tr>
							<td><%=link_to course.fullname, :controller => "reports", :action => "members", :params => {:filter => @selected, :fullname => course.fullname, :institution => course.institution} %></td>
							<td><%=course.institution%></td>
							<td><%=course.alumnos%></td>
						</tr>
					<%end%>
				</table>
	     	</div>
     	</div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>