 <!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "reports"%>

<section class="content-header no-margin">
    <h1>
        Reportes
        <small>Reportes Historicos</small>
    </h1>
    <ol class="breadcrumb">
        <li>Reportes</li>
        <li class="active">Reportes Historicos</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Listado de Reportes por Curso</h3>
                </div>
                <div class="box-body">
                    <%=render :partial => "historical_reports_table", :locals => {:reports => @reports}%> 
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-warning">
                <%=form_tag :action => :historical do%>
                <div class="box-header">
                    <h3 class="box-title">Listado de Cursos</h3>
                    <div class="box-tools">
                        <div class="input-group">
                                <input type="text" name="search" class="form-control input-sm pull-right" style="width: 200px;" placeholder="Buscar">
                                <div class="input-group-btn">
                                <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <%end%>
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Curso</th>
                                <th>Reportes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%@courses.each do |course|%>
                                <tr>
                                    <td><%=link_to course.coursename, {:controller => "reports", :action =>"reports_for_course", :params => {:id => course.courseid}}, :remote => true%></td>
                                    <td><%=course.reportnum%></td>
                                </tr>
                            <%end%>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="pull-right">
                        <%=paginate @courses%>
                    </div>
                </div><!-- box-footer -->
            </div>
        </div>
    </div>
</section>
