
<!-- Barra de navegacion superior -->
<%= render "shared_partials/navbar"%>


<div class="container-fluid">
  <div class="row">
    <!-- Barra de navegacion izquierda -->
    <%= render "shared_partials/sidebar"%>


    <div class="col-sm-8 col-sm-offset-4 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Miembros del <%=@group[:type]%>: <%=@group[:name]%></h1>
      <h2 class="sub-header">Estudiantes</h2>
      <div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>ID Usuario</th>
						<th>Nombre</th>
						<th>Empresa</th>
						<th>Departamento</th>
						<th>Curso</th>
						<th>Reporte</th>
					</tr>
				</thead>
				<%@members.each do |member|%>
					<tr>
						<td><%=member.userid%></td>
						<td><%=member.firstname+" "+member.lastname%></td>
						<td><%=member.institution%></td>
						<td><%=member.department%></td>
						<td><%=member.course_fullname%></td>
						<td><%=link_to (image_tag "pdf_icon.png", :size => "30x30"), :controller => "reports", :action => "generate_report", :params => {:user_id => member.userid, :course_id => member.courseid, :format => "pdf"}%></td>
					</tr>
				<%end%>
			</table>
      	</div>
		<%=link_to 'Descargar Todos', {:controller => "reports", :action => "generate_bulk_reports", :params => {:institution => @group[:institution], :fullname => @group[:fullname], :filter => @group[:filter]}}, :class => "btn btn-lg btn-primary btn-block"%>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
