<!DOCTYPE html>
<html>
<head>
  <title>LongbournManagement</title>
  <%= favicon_link_tag "longbourn_logo.png", type: "image/png"%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

<%= yield %>

</div>

</body>
</html>
