<!DOCTYPE html>
<html>
<head>
  <title>Longbourn Management</title>
  <%= include_gon %>
  <%= favicon_link_tag "longbourn_logo.png", type: "image/png"%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-blue">

<%= yield %>

<%=render :partial => "shared_partials/footer"%>

</body>
</html>
